interactions:
- request:
    body: '{"q":"*","sort":[{"field":"interferenceNumber","order":"asc"}],"pagination":{"offset":0,"limit":5}}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/interferences/decisions/search
  response:
    body:
      string: '{"count":1812,"requestIdentifier":"771ba722-6ff3-42a1-8bae-a7ebdfd1cf9d","patentInterferenceDataBag":[{"interferenceNumber":"101769","lastModifiedDateTime":"2025-12-12T17:18:56","interferenceMetaData":{"interferenceLastModifiedDateTime":"2006-02-08T00:00:00","interferenceLastModifiedDate":"2006-02-08","declarationDate":"1998-05-19","interferenceStyleName":"NGVALL","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/INTF/101769/101769.zip"},"seniorPartyData":{"applicationNumberText":"06175133","grantDate":"1983-03-08","groupArtUnitNumber":"1634","inventorName":"  NGVALL","patentNumber":"4376110","patentOwnerName":"  NGVALL","realPartyInInterestName":"  NGVALL","technologyCenterNumber":"1600"},"documentData":{"documentIdentifier":"b703ecd0d8175a6ec538be78d145b79f3f71012304656ef3d98053be","documentName":"ja101769","documentSizeQuantity":270363,"documentOCRText":"C:TEMPA769.PDF\n\n\nApplication
        06/539,754, filed October 6, 1983.1\n\nPatent 4,376,110 issued March 8, 1983,
        based on application 06/175,133 filed August 4, 1980.2\n\nTHIS OPINION WAS
        NOT WRITTEN FOR PUBLICATION\n\nThe opinion in support of the decision being
        entered today (1) was not written for publication in a\nlaw journal or reporter
        and (2) is not binding precedent of the Board.\n\nFiled by: Merits Panel\nBox
        Interference\nWashington, D.C. 20231\nTel: (703)308-9797\nFax: (703)308-7953\n\nPaper
        365\n\nUNITED STATES","documentTitleText":"DECISION-101769","interferenceOutcomeCategory":"Final
        Decision","decisionIssueDate":"1998-05-19","decisionTypeCategory":"Decision","issueTypeBag":["112"],"fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/INTF/101769/Intf608_10176906175133_895550400000.pdf","documentFilingDate":"1998-05-19"}},{"interferenceNumber":"101981","lastModifiedDateTime":"2025-12-12T17:18:56","interferenceMetaData":{"interferenceLastModifiedDateTime":"2006-02-08T00:00:00","interferenceLastModifiedDate":"2006-02-08","declarationDate":"1999-09-30","interferenceStyleName":"QADRI","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/INTF/101981/101981.zip"},"seniorPartyData":{"applicationNumberText":"07021229","grantDate":"2003-10-21","groupArtUnitNumber":"1751","inventorName":"  QADRI[...]
