interactions:
- request:
    body: '{"productTitle":"","applicationNumber":"","registrationNumber":"","dossierStatus":"","designerName":"","applicantName":"Marimekko","representativeName":"","businessID":"","applicationStartDate":"","applicationEndDate":"","oppositionPeriodStartStartDate":"","oppositionPeriodStartEndDate":"","publicationDateStartDate":"","publicationDateEndDate":"","registrationStartDate":"","registrationEndDate":"","classNumber":"","filingNumber":"","basicSearch":""}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://mallioikeustietopalvelu.prh.fi/nis-api-gateway/design
  response:
    body:
      string: '{"totalResults":1,"results":[{"dossierId":785068,"applicationNumber":"M20010326","registrationNumber":"22685","dossierStatus":"DS_Expired","dossierSubType":null,"applicationDate":"2001-05-15","registrationDate":"2002-07-31","expirationDate":"2006-05-15","applicants":[{"name":"Marimekko
        Oyj","ordinal":1}],"representatives":[{"name":"Leena Valjakka Berggren Oy
        Ab","ordinal":1}],"priorities":[],"trademarkWord":null,"trademarkHasImage":false,"goodsAndServices":[],"targetGroup":null,"locarnos":[{"classNumber":"02","subClassNumber":"02","ordinal":1},{"classNumber":"02","subClassNumber":"99","ordinal":2},{"classNumber":"11","subClassNumber":"02","ordinal":3},{"classNumber":"11","subClassNumber":"99","ordinal":4},{"classNumber":"32","subClassNumber":"00","ordinal":5}],"designs":[{"title":"Vaate/koriste-esine","titleSecondLng":null,"number":1,"dominantViewNumber":1,"dominantViewImageUrl":"/opendata/design/image/M20010326.1.1","dominantViewSmallThumbnailUrl":"/opendata/design/thumbnail/M20010326.1.1","dominantViewMediumThumbnailUrl":"/opendata/design/thumbnail/medium/M20010326.1.1","ordinal":1}],"imageUrl":null,"thumbnailUrl":null,"largeThumbnailUrl":null,"ordinal":1}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
