interactions:
- request:
    body: '{"q":"trialMetaData.trialTypeCode:IPR","pagination":{"offset":0,"limit":5}}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/trials/proceedings/search
  response:
    body:
      string: '{"count":18058,"requestIdentifier":"4a77e422-6201-456f-8b98-992a01bb6422","patentTrialProceedingDataBag":[{"lastModifiedDateTime":"2026-04-22T09:11:06","patentOwnerData":{"patentNumber":"8738103","grantDate":"2014-05-27","technologyCenterNumber":"2600","groupArtUnitNumber":"2643","applicationNumberText":"11614429","inventorName":"Carles
        Puente Baliarda et al"},"trialMetaData":{"accordedFilingDate":"2026-04-21","trialTypeCode":"IPR","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/IPR/2026/00338/IPR2026-00338.zip","trialStatusCategory":"Pending","trialLastModifiedDate":"2026-04-22","petitionFilingDate":"2026-04-21","trialLastModifiedDateTime":"2026-04-22T06:33:20"},"trialNumber":"IPR2026-00338","regularPetitionerData":{"realPartyInInterestName":"Johnson
        Controls Inc.","counselName":"Carlan, Janineet al"}},{"lastModifiedDateTime":"2026-04-16T17:11:53","patentOwnerData":{"patentNumber":"10512385","grantDate":"2019-12-24","technologyCenterNumber":"1700","groupArtUnitNumber":"1711","applicationNumberText":"15941761","inventorName":"Barry
        E. Tuller et al"},"trialMetaData":{"accordedFilingDate":"2026-04-15","trialTypeCode":"IPR","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/IPR/2026/00337/IPR2026-00337.zip","trialStatusCategory":"Pending","trialLastMo[...]
