interactions:
- request:
    body: '{"trademarkWord":"AUDI","applicationNumber":"","registrationNumber":"","dossierStatus":"","trademarkKind":"","applicantName":"","representativeName":"","businessID":"","applicationStartDate":"","applicationEndDate":"","oppositionPeriodStartStartDate":"","oppositionPeriodStartEndDate":"","registrationStartDate":"","registrationEndDate":"","expirationStartDate":"","expirationEndDate":"","goodsAndServicesTerm":"","goodsAndServicesClassNumber":"","viennaClass":"","filingNumber":"","basicSearch":""}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://tavaramerkkitietopalvelu.prh.fi/nis-api-gateway/trademark
  response:
    body:
      string: "{\"totalResults\":10,\"results\":[{\"dossierId\":113988,\"applicationNumber\":\"T196503880\",\"registrationNumber\":\"49497\",\"dossierStatus\":\"Expired\",\"dossierSubType\":\"Figurative-word\",\"applicationDate\":\"1965-11-17\",\"registrationDate\":\"1967-02-06\",\"expirationDate\":\"2007-02-06\",\"applicants\":[{\"name\":\"AUDI
        AG\",\"ordinal\":1}],\"representatives\":[{\"name\":\"Oy Kolster Ab\",\"ordinal\":1}],\"priorities\":[],\"trademarkWord\":\"Audi\",\"trademarkHasImage\":true,\"goodsAndServices\":[{\"classNumber\":12,\"ordinal\":1}],\"targetGroup\":null,\"locarnos\":[],\"designs\":[],\"imageUrl\":\"/opendata/trademark/image/T196503880/49497\",\"thumbnailUrl\":\"/opendata/trademark/thumbnail/T196503880/49497\",\"largeThumbnailUrl\":\"/opendata/trademark/thumbnail/large/T196503880/49497\",\"ordinal\":1},{\"dossierId\":134653,\"applicationNumber\":\"T197105372\",\"registrationNumber\":\"64033\",\"dossierStatus\":\"Expired\",\"dossierSubType\":\"Word\",\"applicationDate\":\"1971-10-21\",\"registrationDate\":\"1975-07-10\",\"expirationDate\":\"2005-07-10\",\"applicants\":[{\"name\":\"AUDI
        AG\",\"ordinal\":1}],\"representatives\":[{\"name\":\"Oy Kolster Ab\",\"ordinal\":1}],\"priorities\":[],\"trademarkWord\":\"AUDI
   [...]
