interactions:
- request:
    body: '{"searchCriteria":[{"property":"Google","searchBy":"assigneeName","matchType":"Contains","order":1,"relation":"AND"}],"dataFilter":{"filterBy":[{"property":"SECURITY","startDate":"","endDate":"","searchBy":"conveyance"}],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/search/patent
  response:
    body:
      string: '{"status": "Success", "statusCode": 200, "error": null, "successResponse":
        {"data": [{"reelNumber": 47966, "frameNumber": 839, "correspondentName": "MCDONNELL
        BOEHNEN HULBERT & BERGHOFF LLP", "assignorExecutionDate": "09/29/2017", "conveyance":
        "RELEASE OF SECURITY INTEREST", "conveyanceCode": 36, "assignors": [{"assignorName":
        "GOOGLE INC.", "executionDate": "09/29/2017"}], "assignees": ["GOOGLE LLC"],
        "noOfProperties": 1, "properties": [{"sequenceNumber": 1, "applicationNumber":
        "16226643", "fillingDate": "12/20/2018", "internationalRegistrationNumber":
        null, "inventionTitle": "Systems and Methods for Multiscopic Noise Reduction
        and High-Dynamic Range", "inventors": "Jonathan Barron Tilton, Stephen DiVerdi
        Joseph, Ryan Geiss", "issueDate": "11/12/2019", "patentNumber": "10477185",
        "pctNumber": null, "pctNumber17": null, "publicationNumber": "20190124319",
        "publicationDate": "04/25/2019", "internationalPublicationDate": ""}]}, {"reelNumber":
        33897, "frameNumber": 744, "correspondentName": "AJAY GAMBHIR", "assignorExecutionDate":
        "01/29/2014", "conveyance": "CORRECTIVE ASSIGNMENT TO CORRECT THE ASSIGNOR
        PREVIOUSLY RECORDED ON REEL 033745 FRAME 0473. ASSIGNOR(S) HEREBY CONFIRMS
        THE CORRECT NAME OF THE ASSIGNOR IS: BRIGHT SUN TECHNOLOGIES, SERIES 42 OF
        ALLIED SECURITY TRUST I.", "conveyanceCode": 40, "assignors": [{"assignorName":
        "BRIGHT SUN TECHNOLOGIES. SERIES 42[...]
- request:
    body: '{"searchCriteria":[{"property":"Google","searchBy":"assigneeName","matchType":"Contains","order":1,"relation":"AND"}],"dataFilter":{"filterBy":[{"property":"SECURITY","startDate":"","endDate":"","searchBy":"conveyance"}],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v3/public/search/patent
  response:
    body:
      string: '{"status":"Success","statusCode":200,"error":null,"successResponse":{"data":[],"totalRows":0,"backendPagination":false,"filteredRowsCount":0,"message":"No
        assignments found"}}'
    headers:
      Content-Type:
      - application/json
      x-process-time:
      - '2394'
    status:
      code: 200
      message: OK
- request:
    body: '{"searchCriteria":[{"property":"BARCLAYS BANK","searchBy":"assigneeName","matchType":"Contains","order":1,"relation":"AND"}],"dataFilter":{"filterBy":[],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v3/public/search/patent
  response:
    body:
      string: "{\"status\":\"Success\",\"statusCode\":200,\"error\":null,\"successResponse\":{\"data\":[{\"reelNumber\":75154,\"frameNumber\":156,\"correspondentName\":\"Jennifer
        Tindie\",\"assignorExecutionDate\":\"06/30/2026\",\"conveyance\":\"SECURITY
        INTEREST \",\"conveyanceCode\":27,\"mailDate\":\"07/02/2026\",\"recorded\":\"07/01/2026\",\"assignors\":[{\"assignorName\":\"POWER
        GRID COMPONENTS, INC.\",\"executionDate\":\"06/30/2026\",\"acknowledgementDate\":null}],\"assignees\":[\"BARCLAYS
        BANK PLC, AS COLLATERAL AGENT\"],\"noOfProperties\":0},{\"reelNumber\":74820,\"frameNumber\":828,\"correspondentName\":\"Joanna
        McCall\",\"assignorExecutionDate\":\"06/01/2026\",\"conveyance\":\"SECURITY
        INTEREST \",\"conveyanceCode\":27,\"mailDate\":\"06/03/2026\",\"recorded\":\"06/02/2026\",\"assignors\":[{\"assignorName\":\"ALTERA
        CORPORATION\",\"executionDate\":\"06/01/2026\",\"acknowledgementDate\":null}],\"assignees\":[\"BARC[...]
