interactions:
- request:
    body: '{"q":"appellantData.technologyCenterNumber:2800","pagination":{"offset":0,"limit":5}}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/appeals/decisions/search
  response:
    body:
      string: '{"count":13470,"requestIdentifier":"55d4635e-966a-4fe6-a97e-9f0fff31bb07","patentAppealDataBag":[{"appealNumber":"2026000736","appealDocumentCategory":"Decision","lastModifiedDateTime":"2026-04-21T23:14:09","appealMetaData":{"appealFilingDate":"2026-01-08","appealLastModifiedDateTime":"2026-04-21T16:09:29","appealLastModifiedDate":"2026-04-21","applicationTypeCategory":"REGULAR","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/APP/2026/000736/2026000736.zip"},"appellantData":{"applicationNumberText":"18354034","counselName":"Docket
        Clerk-RAYN/MWM","groupArtUnitNumber":"2836","inventorName":"Micky R. Harris","realPartyInInterestName":"Raytheon
        Company","patentOwnerName":"Raytheon Company","publicationDate":"2025-01-23","publicationNumber":"US20250030423A1","technologyCenterNumber":"2800"},"documentData":{"documentFilingDate":"2026-04-21","documentIdentifier":"97efbbcd-ab53-4238-96a4-6e3285d08a8e","documentName":"Decision_2026000736_04-21-2026.pdf","documentSizeQuantity":168547,"documentOCRText":"UNITED
        STATES PATENT AND TRADEMARK OFFICE\nUNITED STATES DEPARTMENT OF COMMERCE\nUnited
        States Patent and Trademark Office\nAddress:  COMMISSIONER FOR PATENTS\n\nP.O.
        Box 1450\nAlexandria, Virginia 22313-1450\nwww.uspto.gov\n\nAPPLICATION NO.
        FILING DATE FIRST NAMED INVENTOR ATTORNEY DOCKET NO. CONFIRMATION NO.\n\n18/354,034
        07/18/2023 Micky R. Harris 175834US01 7769\n\n18510 7590 04/22/2026\n\nDocket
        Clerk-RAYN/MWM\n1100 Wilson Blvd.\nArlington, VA 22209\n\nEXAMINER\n\nPUENTES,
        DANIEL CALRISSIAN\n\nART UNIT PAPER NUMBER","documentTypeDescriptionText":"Paper","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/APP/2026/000736/97efbbcd-ab53-4238-96a4-6e3285d08a8e.pdf"},"decisionData":{"appealOutcomeCategory":"Reversed","statuteAndRuleBag":["35
        USC 134"],"decisionIssueDate":"2026-04-21","decisionTypeCategory":"Decision","issueTypeBag":["112","102"]}},{"appealNumber":"2026000613","appealDocumentCategory":"Decision","lastModifiedDateTime":"2026-04-15T01:12:34","appealMetaData":{"appealFilingDate":"2025-12-18","appealLastModifiedDateTime":"2026-04-14T18:09:30","appealLastModifiedDate":"2026-04-14","applicationTypeCategory":"REGULAR","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/APP/2026/000613/2026000613.zip"},"appellantData":{"applicationNumberText":"17664482","counselName":"onsemi
        (AS)","groupArtUnitNumber":"2812","inventorName":"Seungwon IM","realPartyInInterestName":"SEMICONDUCTOR
        COMPONENTS INDUSTRIES, LLC","patentNumber":"","patentOwnerName":"SEMICONDUCTOR
        COMPONENTS INDUSTRIES, LLC","publicationDate":"2022-12-22","publicationNumber":"US20220406683A1","technologyCenterNumber":"2800"},"documentData":{"documentFilingDate":"2026-04-14","documentIdentifier":"8980f468-921b-451d-80f2-fcd45d9c186a","documentName":"Decision_2026000613_04-14-2026.pdf","documentSizeQuantity":345882,"documentOCRText":"UNITED
        STATES PATENT AND TRADEMARK OFFICE\nUNITED STATES DEPARTMENT OF COMMERCE\nUnited
        States Pate[...]
