interactions:
- request:
    body: '{"searchCriteria":[{"property":"10000000","searchBy":"patentNumber","matchType":"Contains","order":1,"relation":"AND"}],"dataFilter":{"filterBy":[],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/search/patent
  response:
    body:
      string: '{"status": "Success", "statusCode": 200, "error": null, "successResponse":
        {"data": [{"reelNumber": 35130, "frameNumber": 327, "correspondentName": "DOCKET
        CLERK-RAYTHEON/MWM", "assignorExecutionDate": "03/06/2015", "conveyance":
        "ASSIGNMENT OF ASSIGNOR''S INTEREST", "conveyanceCode": 23, "assignors": [{"assignorName":
        "MARRON, JOSEPH", "executionDate": "03/06/2015"}], "assignees": ["RAYTHEON
        COMPANY"], "noOfProperties": 1, "properties": [{"sequenceNumber": 1, "applicationNumber":
        "14643719", "fillingDate": "03/10/2015", "internationalRegistrationNumber":
        null, "inventionTitle": "COHERENT LADAR USING INTRA-PIXEL QUADRATURE DETECTION",
        "inventors": "Joseph Marron", "issueDate": "06/19/2018", "patentNumber": "10000000",
        "pctNumber": null, "pctNumber17": null, "publicationNumber": "20160266243",
        "publicationDate": "09/15/2016", "internationalPublicationDate": ""}]}], "totalRows":
        1, "backendPagination": false, "filteredRowsCount": 0, "message": null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchCriteria":[{"property":"10000000","searchBy":"patentNumber","matchType":"Contains","order":1,"relation":"AND"}],"dataFilter":{"filterBy":[],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v3/public/search/patent
  response:
    body:
      string: '{"status":"Success","statusCode":200,"error":null,"successResponse":{"data":[{"reelNumber":35130,"frameNumber":327,"correspondentName":"DOCKET
        CLERK-RAYTHEON/MWM","assignorExecutionDate":"03/06/2015","conveyance":"ASSIGNMENT
        OF ASSIGNOR''S INTEREST","conveyanceCode":23,"mailDate":"03/11/2015","recorded":"03/10/2015","assignors":[{"assignorName":"MARRON,
        JOSEPH","executionDate":"03/06/2015","acknowledgementDate":null}],"assignees":["RAYTHEON
        COMPANY"],"noOfProperties":0}],"totalRows":1,"backendPagination":false,"filteredRowsCount":0,"message":null}}'
    headers:
      Content-Type:
      - application/json
      x-process-time:
      - '131'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"reelNumber":"35130","frameNumber":"327","searchBy":"reelFrame","dataFilter":{"filterBy":[],"rowsPerPage":10,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v3/public/search/patent
  response:
    body:
      string: '{"status":"Success","statusCode":200,"error":null,"successResponse":{"data":{"assignment":{"assignees":[{"country":"UNITED
        STATES","city":"WALTHAM","assigneeSequenceNumber":1,"addressLine1":"870 WINTER
        STREET","state":"MASSACHUSETTS","addressLine2":null,"countryOrState":null,"zipCode":"02451-1449","assigneeName":"RAYTHEON
        COMPANY","countryOrStateCode":"MA","ictStateCode":"MA","ictCountryCode":"US","addressLine3":"","addressLine4":""}],"assignors":[{"assignorSequenceNumber":1,"executionDate":"03/06/2015","assignorName":"MARRON,
        JOSEPH","acknowledgedDate":null}],"conveyance":"ASSIGNMENT OF ASSIGNOR''S
        INTEREST","conveyanceCode":23,"correspondent":{"name":"DOCKET CLERK-RAYTHEON/MWM","addressLine1":"P.O.DRAWER
        800889","addressLine2":"DALLAS, TX 75380","addressLine3":null,"addressLine4":null,"country":null,"city":null,"state":null,"zipCode":null},"documents":"","frameNumber":327,"pageCount":4,"recordationDate":"03/10/2015","reelNumber":35130,"attorneyDocketNumber":"14-6582
        ","domesticRepresentative":"","imageAvailableStatusCode":true,"imageURL":"https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/download/patent/35130/327","mailDate":"03/11/2015","processingDetails":null,"deleteStatusIndicator":false,"deleteStatusText":null,"receiptDate":"03/10/2015","assignmentSequence":1,"assignorExecutionDate":"03/06/2015","multiAssignmentSequenceNumber":0,"multiAssignmentStatusIndicator":false},"noOfProperties":1,"properties":[{"propertySequenceNumber":1,"applicationNumber":"14643719","fillingDate":"03/10/2015","publicIndicator":"Y","internationalRegistrationNumber":null,"inventionTitle":"COHERENT
        LADAR USING INTRA-PIXEL QUADRATURE DETECTION","inventors":"Marron, Joseph","issueDate":"06/19/2018","patentNumber":"10000000","pctNumber":"","pctNumber17":"","publicationNumber":"US20160266243A1","publicationDate":"09/15/2016","internationalPublicationDate":"","propertyId":"14643719"}]},"totalRows":1,"backendPagination":false,"filteredRowsCount":0,"message":null}}'
    headers:
      Content-Type:
      - application/json
      x-process-time:
      - '121'
    status:
      code: 200
      message: OK
version: 1
