interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - REDACTED
    method: GET
    uri: https://api.uspto.gov/api/v1/patent/trials/IPR2025-01319/documents
  response:
    body:
      string: "{\"count\":242,\"requestIdentifier\":\"4f2b0622-a339-4ce5-bc7d-9be0cd3b176b\",\"patentTrialDocumentDataBag\":[{\"trialNumber\":\"IPR2025-01319\",\"lastModifiedDateTime\":\"2026-03-27T22:58:11\",\"trialDocumentCategory\":\"Document\",\"trialMetaData\":{\"institutionDecisionDate\":\"2025-11-20\",\"accordedFilingDate\":\"2025-07-17\",\"petitionFilingDate\":\"2025-07-17\",\"trialLastModifiedDateTime\":\"2026-03-27T14:04:28\",\"trialLastModifiedDate\":\"2026-03-27\",\"terminationDate\":\"2025-11-20\",\"trialStatusCategory\":\"Discretionary
        Denial\",\"latestDecisionDate\":\"2025-11-20\",\"trialTypeCode\":\"IPR\"},\"patentOwnerData\":{\"applicationNumberText\":\"17980669\",\"counselName\":\"Cohen,
        Alexiset al\",\"grantDate\":\"2023-07-18\",\"groupArtUnitNumber\":\"2884\",\"inventorName\":\"Yong
        Qin Chen\",\"realPartyInInterestName\":\"Beckman Coulter, Inc. et al.\",\"patentNumber\":\"11703443\",\"technologyCenterNumber\":\"2800\"},\"regularPetitionerData\":{\"counselName\":\"Knight,
        Dustinet al\",\"realPartyInInterestName\":\"Cytek Biosciences, Inc.\"},\"documentData\":{\"documentCategory\":\"NOTICE\",\"documentFilingDate\":\"2026-03-27\",\"documentIdentifier\":\"171314592\",\"documentName\":\"IPR2025-01319.pdf\",\"documentNumber\":15,\"documentSizeQuantity\":87356,\"documentTitleText\":\"Notice:
        \ refund approved\",\"documentTypeDescriptionText\":\"Notice:  refund approved\",\"fileDownloadURI\":\"https://api.uspto.gov/api/v1/patent/ptab-files/IPR/2025/01319/171314592.pdf\",\"filingPartyCategory\":\"BOARD\"}},{\"trialNumber\":\"IPR2025-01319\",\"lastModifiedDateTime\":\"2026-03-26T00:56:41\",\"trialDocumentCategory\":\"Document\",\"trialMetaData\":{\"institutionDecisionDate\":\"2025-11-20\",\"accordedFilingDate\":\"2025-07-17\",\"petitionFilingDate\":\"2025-07-17\",\"trialLastModifiedDateTime\":\"2026-03-25T17:46:55\",\"trialLastModifiedDate\":\"2026-03-25\",\"terminationDate\":\"2025-11-20\",\"trialStatusCategory\":\"Discretionary
        Denial\",\"latestDecisionDate\":\"2025-11-20\",\"[...]
