interactions:
- request:
    body: '{"page":0,"pageSize":2,"sortColumn":"filingDate","sortOrder":"DESC","simpleSearchText":"IKEA"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dv-search-api.prv.se/searchtrademark/tmsimplesearch/
  response:
    body:
      string: "{\"totalHits\":89,\"totalPages\":44,\"hits\":2,\"page\":0,\"trademarks\":[{\"idTrademark\":4907387,\"applicants\":[{\"name\":\"IKEA
        \xC4lmhult AB\",\"address\":\"c/o IKEA of Sweden AB 343 81 \xC4lmhult, SE,
        559070-5058\"}],\"applicationNumber\":\"2025-05038\",\"classes\":[\"35\",\"36\",\"41\"],\"dossierTypeEn\":\"National
        trademark\",\"dossierTypeSv\":\"Nationellt varum\xE4rke\",\"expiryDate\":\"2035-10-01\",\"filingDate\":\"2025-10-01\",\"markFeatureEn\":\"Figurative\",\"markFeatureSv\":\"Figur\",\"markSpecification\":\"form
        hult\",\"registrationNumber\":\"639377\",\"representatives\":[\"Advokatfirman
        Lindahl KB, Pr\xE5mplatsen 4 211 19 Malm\xF6, SE, 916629-0834\"],\"statusEn\":\"Registered\",\"statusSv\":\"Registrerad\"},{\"idTrademark\":4709243,\"applicants\":[{\"name\":\"IKEA
        Centres A/S\",\"address\":\"Amager Strandvej 390 DK-2770 Kastrup, DK\"}],\"applicationNumber\":\"2016-00749\",\"classes\":[\"35\",\"36\",\"37\",\"39\",\"41\",\"42\",\"43\"],\"dossierTypeEn\":\"National
        trademark\",\"dossierTypeSv\":\"Nationellt varum\xE4rke\",\"expiryDate\":null,\"filingDate\":\"2016-02-02\",\"markFeatureEn\":\"Word\",\"markFeatureSv\":\"Ord\",\"markSpecification\":\"\xC4LV
        SHOPPING\",\"registrationNumber\":null,\"representatives\":[\"Advokatbyr\xE5n
        Gulliksson AB, Box 4171 203 13 Malm\xF6, SE, 556733-5319\"],\"statusEn\":\"Dismissed\",\"statusSv\":\"Avskriven\"}]}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
