interactions:
- request:
    body: '{"q":"decisionData.decisionTypeCategory:Decision","pagination":{"limit":5},"format":"json"}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/trials/decisions/search/download
  response:
    body:
      string: '{"patentTrialData":[{"decisionData":{"decisionTypeCategory":"Decision","trialOutcomeCategory":"Final
        Written Decision","decisionIssueDate":"2026-07-20"},"patentOwnerData":{"realPartyInInterestName":"Yangtze
        Memory Technologies Company, Ltd.","technologyCenterNumber":"2800","applicationNumberText":"16865056"},"trialNumber":"IPR2025-00228"},{"decisionData":{"decisionTypeCategory":"Decision","trialOutcomeCategory":"Settled
        After Institution","decisionIssueDate":"2026-07-20"},"patentOwnerData":{"realPartyInInterestName":"Nokia
        Technologies Oy","technologyCenterNumber":"2400","applicationNumberText":"16356733"},"trialNumber":"IPR2025-01153"},{"decisionData":{"decisionTypeCategory":"Decision","trialOutcomeCategory":"Vacated/Remanded","decisionIssueDate":"2026-07-20"},"patentOwnerData":{"realPartyInInterestName":"OpenSesame,
        Inc.","technologyCenterNumber":"2400","applicationNumberText":"13156607"},"trialNumber":"IPR2022-01439"},{"decisionData":{"decisionTypeCategory":"Decision","trialOutcomeCategory":"Vacated/Remanded","decisionIssueDate":"2026-07-20"},"patentOwnerData":{"realPartyInInterestName":"Google
        LLC","technologyCenterNumber":"2600","applicationNumberText":"16171495"},"trialNumber":"IPR2023-00119"},{"decisionData":{"decisionTypeCategory":"Decision","trialOutcomeCategory":"Vacated/Remanded","decisionIssueDate":"2026-07-20"},"patentOwnerData":{"realPartyInInterestName":"Google
        LLC","technologyCenterNumber":"2600","applicationNumberText":"15346914"},"trialNumber":"IPR2023-00118"}]}'
    headers:
      Content-Type:
      - application/json
      content-disposition:
      - attachment;filename="results-2026-07-21T01-13-46.json"
      x-amz-apigw-id:
      - A1QnrH2qIAMFUNQ=
      x-amzn-RequestId:
      - 24b5585f-f417-44d7-9e81-f7a5035b8eed
    status:
      code: 200
      message: OK
version: 1
