interactions:
- request:
    body: '{"searchCriteria":[{"property":"WIDEX A/S","searchBy":"assigneeName","matchType":"Exact","order":1,"relation":"AND"}],"dataFilter":{"filterBy":[],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/search/patent
  response:
    body:
      string: '{"status": "Success", "statusCode": 200, "error": null, "successResponse":
        {"data": [{"reelNumber": 72711, "frameNumber": 267, "correspondentName": "Sughrue
        Mion PLLC", "assignorExecutionDate": "10/08/2025", "conveyance": "ASSIGNMENT
        OF ASSIGNOR''S INTEREST ", "conveyanceCode": 23, "assignors": [{"assignorName":
        "MARCHER, IB", "executionDate": "10/07/2025"}, {"assignorName": "CLASSNITZ,
        FRANZ", "executionDate": "10/08/2025"}], "assignees": ["WIDEX A/S"], "noOfProperties":
        1, "properties": [{"sequenceNumber": 1, "applicationNumber": "19479758", "fillingDate":
        "", "internationalRegistrationNumber": null, "inventionTitle": "EAR TIP FOR
        A HEARING DEVICE AND HEARING DEVICE", "inventors": "Ib  MARCHER,Franz  CLASSNITZ",
        "issueDate": "", "patentNumber": null, "pctNumber": null, "pctNumber17": null,
        "publicationNumber": null, "publicationDate": "", "internationalPublicationDate":
        ""}]}, {"reelNumber": 72713, "frameNumber": 98, "correspondentName": "SUGHRUE
        MION, PLLC", "assignorExecutionDate": "08/22/2025", "conveyance": "ASSIGNMENT
        OF ASSIGNOR''S INTEREST ", "conveyanceCode": 23, "assignors": [{"assignorName":
        "NIELSEN, JENS BREHM BAGGER", "executionDate": "08/22/2025"}, {"assignorName":
        "LUNDORFF, ELLEN", "executionDate": "08/14/2025"}, {"assignorName": "FORSYTH,
        KARA FIONA CATRIONA", "executionDate": "08/14/2025"}, {"as[...]
