interactions:
- request:
    body: '{"searchCriteria":[{"property":"Apple","searchBy":"assigneeName"},{"property":"5","searchBy":"rowsNeeded"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/trademark/exportTradeMarkData
  response:
    body:
      string: '[{"searchCriteria": [{"property": "Apple", "searchBy": "assignee_name"},
        {"property": "5", "searchBy": "rowsNeeded"}], "data": [{"reelNumber": 4237,
        "frameNumber": "0961", "assignorExecutionDate": "06/17/2010", "correspondentName":
        "THOMAS R. LA PERLE", "domesticRepresentative": "", "assignors": [{"assignorName":
        "INNOVATE MEDIA GROUP, LLC", "executionDate": "06/17/2010"}], "assignees":
        ["APPLE INC."], "noOfProperties": 2, "properties": [{"sequenceNumber": 1,
        "serialNumber": 77313277, "currentOwner": "APPLE INC.", "mark": "IADS", "applicationFilingDate":
        "10/25/2007", "internationalRegistrationNumber": null, "registrationDate":
        "10/14/2008", "registrationNumber": 3515183, "registrantName": null}, {"sequenceNumber":
        2, "serialNumber": 77313325, "currentOwner": "APPLE INC.", "mark": "IADS",
        "applicationFilingDate": "10/25/2007", "internationalRegistrationNumber":
        null, "registrationDate": "10/14/2008", "registrationNumber": 3515184, "registrantName":
        null}]}, {"reelNumber": 4193, "frameNumber": "0899", "assignorExecutionDate":
        "04/27/2010", "correspondentName": "JOHN DONALD", "domesticRepresentative":
        "", "assignors": [{"assignorName"[...]
