interactions:
- request:
    body: '{"searchCriteria":[{"property":"14643719","searchBy":"applicationNumber"},{"property":"100","searchBy":"rowsNeeded"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/patent/exportPublicPatentData
  response:
    body:
      string: '[{"searchCriteria": [{"property": "14643719", "searchBy": "application_number"},
        {"property": "100", "searchBy": "rowsNeeded"}], "data": [{"reelNumber": 35130,
        "frameNumber": 327, "assignorExecutionDate": "03/06/2015", "correspondentName":
        "DOCKET CLERK-RAYTHEON/MWM", "assignors": [{"assignorName": "MARRON, JOSEPH",
        "executionDate": "03/06/2015"}], "assignees": ["RAYTHEON COMPANY"], "noOfProperties":
        1, "properties": [{"sequenceNumber": 1, "applicationNumber": "14643719", "fillingDate":
        "03/10/2015", "internationalRegistrationNumber": null, "inventionTitle": "COHERENT
        LADAR USING INTRA-PIXEL QUADRATURE DETECTION", "inventors": "Joseph Marron",
        "issueDate": "06/19/2018", "patentNumber": "10000000", "pctNumber": null,
        "pctNumber17": null, "publicationNumber": "20160266243", "publicationDate":
        "09/15/2016", "internationalPublicationDate": ""}]}]}]'
    headers:
      Content-Disposition:
      - attachment;filename=exportPublicData_20260422_194435.json
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
