interactions:
- request:
    body: '{"searchCriteria":[{"property":"Pixelmator","searchBy":"assignorName"},{"property":"5","searchBy":"rowsNeeded"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/trademark/exportTradeMarkData
  response:
    body:
      string: '[{"searchCriteria": [{"property": "Pixelmator", "searchBy": "assignor_name"},
        {"property": "5", "searchBy": "rowsNeeded"}], "data": [{"reelNumber": 8875,
        "frameNumber": "0285", "assignorExecutionDate": "05/15/2025", "correspondentName":
        "MRS. KIMBERLY ECKHART ", "domesticRepresentative": "", "assignors": [{"assignorName":
        "UAB \"PIXELMATOR TEAM\"", "executionDate": "05/15/2025"}], "assignees": ["APPLE
        INC."], "noOfProperties": 5, "properties": [{"sequenceNumber": 1, "serialNumber":
        88665501, "currentOwner": "APPLE INC.", "mark": "PIXELMATOR PRO", "applicationFilingDate":
        "10/23/2019", "internationalRegistrationNumber": null, "registrationDate":
        "06/09/2020", "registrationNumber": 6073758, "registrantName": null}, {"sequenceNumber":
        2, "serialNumber": 88665547, "currentOwner": "APPLE INC.", "mark": "PIXELMATOR
        PHOTO", "applicationFilingDate": "10/23/2019", "internationalRegistrationNumber":
        null, "registrationDate": "06/09/2020", "registrationNumber": 6073761, "registrantName":
        null}, {"sequenceNumber": 3, "serialNumber": 88665566, "currentOwner": "APPLE
        INC.", "mark": "PIXELMATOR", "applicationFilingDate": "10/23/2019", "internationalRegistrationNumber":
        null, "registrationDate": "06/02/2020", "registrationNumber": 6067994, "registrantName":
        null}, {"sequenceNumber": 4, "serialNumber": 77773217, "currentOwner": "APPLE
        INC.", "mark": "PIXELMATOR", "applicationFilingDate": "07/02/2009", "internationalRegistrationNumber":
        null, "registrationDate": "02/09/2010", "registrationNumber": 3746611, "registrantName":
        null}, {"sequenceNumber": 5, "serialNumber": 97828233, "currentOwner": "APPLE
        INC.", "mark": "PHOTOMATOR", "applicationFilingDate": "03/08/2023", "internationalRegistrationNumber":
        null, "registrationDate": "06/04/2024", "registrationNumber": 7410238, "registrantName":
        null}]}]}]'
    headers:
      Content-Disposition:
      - attachment;filename=exportPublicData_20260112_221849.json
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
