interactions:
- request:
    body: '{"q":"*","pagination":{"offset":0,"limit":1}}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/trials/proceedings/search
  response:
    body:
      string: '{"count":19246,"requestIdentifier":"1aa7df9d-ea9c-423d-9e3e-eab4ce9d44d3","patentTrialProceedingDataBag":[{"lastModifiedDateTime":"2026-04-22T09:11:06","patentOwnerData":{"patentNumber":"8738103","grantDate":"2014-05-27","technologyCenterNumber":"2600","groupArtUnitNumber":"2643","applicationNumberText":"11614429","inventorName":"Carles
        Puente Baliarda et al"},"trialMetaData":{"accordedFilingDate":"2026-04-21","trialTypeCode":"IPR","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/IPR/2026/00338/IPR2026-00338.zip","trialStatusCategory":"Pending","trialLastModifiedDate":"2026-04-22","petitionFilingDate":"2026-04-21","trialLastModifiedDateTime":"2026-04-22T06:33:20"},"trialNumber":"IPR2026-00338","regularPetitionerData":{"realPartyInInterestName":"Johnson
        Controls Inc.","counselName":"Carlan, Janineet al"}}]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - cPK_xHHToAMF3iw=
      x-amzn-RequestId:
      - 1aa7df9d-ea9c-423d-9e3e-eab4ce9d44d3
    status:
      code: 200
      message: OK
version: 1
