interactions:
- request:
    body: '{"searchCriteria":[{"property":"Apple","searchBy":"assigneeName"},{"property":"5","searchBy":"rowsNeeded"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/patent/exportPublicPatentData
  response:
    body:
      string: '[{"searchCriteria": [{"property": "Apple", "searchBy": "assignee_name"},
        {"property": "5", "searchBy": "rowsNeeded"}], "data": [{"reelNumber": 28735,
        "frameNumber": 667, "assignorExecutionDate": "05/11/2012", "correspondentName":
        "MEYERTONS HOOD KIVLIN KOWERT & GOETZEL", "assignors": [{"assignorName": "ROCKSTAR
        BIDCO, LP", "executionDate": "05/11/2012"}], "assignees": ["APPLE"], "noOfProperties":
        1, "properties": [{"sequenceNumber": 1, "applicationNumber": "10477023", "fillingDate":
        "11/05/2003", "internationalRegistrationNumber": null, "inventionTitle": "SYSTEM
        AND METHOD FOR MESSAGE REDIRECTION BETWEEN MOBILE TELECOMMUNICATION NETWORKS
        WITH DIFFERENT RADIO ACCESS TECHNOLOGIES", "inventors": "Thierry Lucidarme,
        Pierre Lescuyer", "issueDate": "10/17/2006", "patentNumber": "7123910", "pctNumber":
        null, "pctNumber17": null, "publicationNumber": "20040147262", "publicationDate":
        "07/29/2004", "internationalPublicationDate": ""}]}, {"reelNumber": 28668,
        "frameNumber": 117, "assignorExecutionDate": "05/11/2012", "correspondentName":
        "MEYERTONS HOOD KIVLIN KOWERT & GOETZEL", "assignors": [{"assignorName": "ROCKSTAR
        BIDCO, LP", "executionDate": "05/11/2012"}], "assignees": ["APPLE"], "noOfProperties":
        1, "properties": [{"sequenceNumber": 1, "applicationNumber": "09722338", "fillingDate":
        "11/28/2000", "internationalRegistrationNumber": null, "inventionTitle": "DYNAMIC
        AU[...]
