interactions:
- request:
    body: '{"q":"documentData.filingPartyCategory:Petitioner","pagination":{"offset":0,"limit":5}}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/trials/documents/search
  response:
    body:
      string: '{"count":829136,"requestIdentifier":"00838122-13a8-4ff1-83e9-7c3c166d3bae","patentTrialDocumentDataBag":[{"trialNumber":"IPR2026-00338","lastModifiedDateTime":"2026-04-21T19:11:02","trialDocumentCategory":"Document","trialMetaData":{"petitionFilingDate":"2026-04-21","trialLastModifiedDateTime":"2026-04-21T12:33:08","trialLastModifiedDate":"2026-04-21","trialStatusCategory":"Pending","trialTypeCode":"IPR"},"patentOwnerData":{"applicationNumberText":"11614429","grantDate":"2014-05-27","groupArtUnitNumber":"2643","inventorName":"Carles
        Puente Baliarda et al","patentNumber":"8738103","technologyCenterNumber":"2600"},"regularPetitionerData":{"counselName":"Carlan,
        Janineet al","realPartyInInterestName":"Johnson Controls Inc."},"documentData":{"documentCategory":"Exhibit","documentFilingDate":"2026-04-21","documentIdentifier":"171322452","documentName":"Ex.
        1026 - Cho WiFi-PIFA-APMC2005.pdf","documentNumber":1026,"documentSizeQuantity":1175248,"documentTitleText":"Ex.
        1026","documentTypeDescriptionText":"EXHIBIT","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/IPR/2026/00338/171322452.pdf","filingPartyCategory":"PETITIONER"}},{"trialNumber":"IPR2026-00338","lastModifiedDateTime":"2026-04-21T19:11:02","trialDocumentCategory":"Document","trialMetaData":{"petitionFilingDate":"2026-04-21","trialLastModifiedDateTime":"2026-04-21T12:33:08","trialLastModifiedDate":"2026-04-21","trialStatusCategory":"Pending","trialTypeCode":"IPR"},"patentOwnerData":{"applicationNumberText":"11614429","grantDate":"2014-05-27","groupArtUnitNumber":"2643","inventorName":"Carles
        Puente Baliarda et al","patentNumber":"8738[...]
