interactions:
- request:
    body: ''
    headers:
      uspto-api-key:
      - REDACTED
    method: GET
    uri: https://tsdrapi.uspto.gov/ts/cd/casestatus/sn78787878/info
  response:
    body:
      string: "{\n  \"trademarks\" : [ {\n    \"status\" : {\n      \"staff\" : {\n
        \       \"examiner\" : {\n          \"number\" : null\n        },\n        \"paralegal\"
        : null,\n        \"ituParalegal\" : null,\n        \"lie\" : null,\n        \"chargeTo\"
        : null\n      },\n      \"correspondence\" : {\n        \"freeFormAddress\"
        : [ ],\n        \"address\" : {\n          \"line1\" : \"1100 Ridgeway Loop
        Rd, STE 400\",\n          \"city\" : \"memphis\",\n          \"region\" :
        {\n            \"stateCountry\" : {\n              \"code\" : \"TN\",\n              \"name\"
        : \"TENNESSEE\"\n            },\n            \"isoRegion\" : {\n              \"code\"
        : \"TN\",\n              \"name\" : \"TENNESSEE\"\n            },\n            \"iso\"
        : {\n              \"code\" : \"US\",\n              \"name\" : \"UNITED STATES\"\n
        \           },\n            \"wipo\" : null\n          },\n          \"postalCode\"
        : \"38120-4058\",\n          \"countryCode\" : \"US\",\n          \"countryName\"
        : \"UNITED STATES\"\n        },\n        \"attorneyName\" : \"MICHAEL T EVANGELISTI\",\n
        \       \"individualFullName\" : \"MICHAEL T EVANGELISTI\",\n        \"correspondantPhone\"
        : \"(901) 259-7120\",\n        \"correspondantFax\" : \"(901) 259-7180\",\n
        \       \"correspondantEmail\" : {\n          \"authIndicator\" : \"Y\",\n
        \         \"addresses\" : [ \"mte@farris-law.com\" ]\n        }\n      },\n
        \     \"serialNumber\" : 78787878,\n      \"designSearchList\" : [ {\n        \"code\"
        : \"01.01.09\",\n        \"descriptions\" : [ \"Stars, two\", \"Two stars\"
        ]\n      }, {\n        \"code\" : \"01.01.13\",\n        \"descriptions\"
        : [ \"Stars - multiple stars with five points\" ]\n      }, {\n        \"code\"
        : \"01.15.03\",\n        \"descriptions\" : [ \"Fire (flames), other than
        emanating from objects, words, numbers, fireplaces or candles\", \"Flames,
        other than flames emanating from objects, words, numbers, fireplaces or candles\"
        ]\n      }, {\n        \"code\" : [...]
