interactions:
- request:
    body: '{"searchCriteria":[{"property":"Apple","searchBy":"assigneeName","matchType":"Contains","order":1,"relation":"AND"}],"dataFilter":{"filterBy":[],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/search/patent
  response:
    body:
      string: '{"status": "Success", "statusCode": 200, "error": null, "successResponse":
        {"data": [{"reelNumber": 73906, "frameNumber": 777, "correspondentName": "Keith
        Holleran", "assignorExecutionDate": "02/25/2026", "conveyance": "ASSIGNMENT
        OF ASSIGNOR''S INTEREST ", "conveyanceCode": 23, "assignors": [{"assignorName":
        "ORHAN, ONER", "executionDate": "02/24/2026"}, {"assignorName": "SOLIMAN,
        AHMED M.", "executionDate": "02/24/2026"}, {"assignorName": "MOUSTAFA, AHMED",
        "executionDate": "02/25/2026"}, {"assignorName": "ROY, ARNAB", "executionDate":
        "02/24/2026"}, {"assignorName": "NAGUIB, AYMAN F.", "executionDate": "02/24/2026"},
        {"assignorName": "GORIS, NORMAN", "executionDate": "02/24/2026"}, {"assignorName":
        "SAHIN, ONUR", "executionDate": "02/24/2026"}, {"assignorName": "KUO, PING-HENG",
        "executionDate": "02/24/2026"}, {"assignorName": "CHENG, PENG", "executionDate":
        "02/25/2026"}], "assignees": ["APPLE INC."], "noOfProperties": 1, "properties":
        [{"sequenceNumber": 1, "applicationNumber": "19514453", "fillingDate": "",
        "internationalRegistrationNumber": null, "inventionTitle": "TECHNIQUES TO
        SUPPORT DYNAMIC GRANT-LESS TRANSMISSIONS", "inventors": "ONER ORHAN, AYMAN
        F. NAGUIB, ONUR SAHIN, ARNAB ROY, PING-HENG KUO, PENG CHENG, NORMAN GORIS,
        AHMED MOUSTAFA, AHMED M. SOLIMAN", "issueDate": "01/01/1", "patentNumber":
        null, "pctNumber": null, "pctNumber17": null, "publicationNumber": "", "publicationDate":
        "", "internationalPublicationDate": ""}]}, {"reelNumber": 73410, "frameNumber":
        386, "correspondentName": "Summer G. Thigpen", "assignorExecutionDate": "01/06/2026",
        "conveyance": "ASSIGNMENT OF ASSIGNOR''S INTEREST ", "conveyanceCode": 23,
        "assignors": [{"assignorName": "EUGENE, KEVIN N.", "executionDate": "01/06/2026"},
        {"assignorName": "NEGODA, KIRILL", "executionDate": "01/06/2026"}, {"assignorName":
        "VALLET, LEO EMILE JEAN PIERRE", "executionDate": "01/06/2026"}, {"assignorName":
     [...]
