interactions:
- request:
    body: '{"searchCriteria":[{"property":"Apple Inc","searchBy":"assigneeName"},{"property":"5","searchBy":"rowsNeeded"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/patent/exportPublicPatentData
  response:
    body:
      string: "[{\"searchCriteria\": [{\"property\": \"Apple Inc\", \"searchBy\":
        \"assignee_name\"}, {\"property\": \"5\", \"searchBy\": \"rowsNeeded\"}],
        \"data\": [{\"reelNumber\": 71179, \"frameNumber\": 17, \"assignorExecutionDate\":
        \"05/14/2025\", \"correspondentName\": \"KYLE MORSE\", \"assignors\": [{\"assignorName\":
        \"MULLER, MARCEL V.\", \"executionDate\": \"05/14/2025\"}, {\"assignorName\":
        \"STORY, HANNAH S.\", \"executionDate\": \"05/14/2025\"}], \"assignees\":
        [\"APPLE INC.\"], \"noOfProperties\": 1, \"properties\": [{\"sequenceNumber\":
        1, \"applicationNumber\": \"19214179\", \"fillingDate\": \"\", \"internationalRegistrationNumber\":
        null, \"inventionTitle\": null, \"inventors\": null, \"issueDate\": \"\",
        \"patentNumber\": null, \"pctNumber\": null, \"pctNumber17\": null, \"publicationNumber\":
        null, \"publicationDate\": \"\", \"internationalPublicationDate\": \"\"}]},
        {\"reelNumber\": 65125, \"frameNumber\": 249, \"assignorExecutionDate\": \"09/25/2023\",
        \"correspondentName\": \"BIRCH, STEWART, KOLASCH & BIRCH, LLP\", \"assignors\":
        [{\"assignorName\": \"FLEIZACH, CHRISTOPHER B\", \"executionDate\": \"08/28/2023\"},
        {\"assignorName\": \"LOBO FERREIRA DA SILVA, JOAQUIM GONCALO\", \"executionDate\":
        \"08/28/2023\"}, {\"assignorName\": \"RAMIREZ MOLERES, ISIS NAOMI\", \"executionDate\":
        \"08/28/2023\"}, [...]
