interactions:
- request:
    body: '{"patentTitle":"","applicationNumber":"","registrationNumber":"","priorityNumber":"","dossierStatus":["Application_refused","Application_dismissed","Expired","Renounced","Annulled","Opposition","UMopposition","Appeal","Patent_revoked","Application_withdrawn","Application_filed","Valid","Limited","Approved","Basic_patent_has_lapsed","EP_660_notvalidated","EP_630_oppo_B2","EP_620_grant_B1","EP_632_limit_B3","EP_700_applrefused","EP_800_application_dismissed","EP_600_imported","EP_640_revoked","EP_631_oppo_T4","EP_635_limit_T6","EP_650_appwthdr","EP_621_valid_T3","EP_625_opposition","Lapsed","Revoked","Refused","Reinstated","Withdrawn","Granted","Application_pending","Pending"],"applicant":"Audience","assignee":"","inventor":"","representative":"","applicationStartDate":"","applicationEndDate":"","filingStartDate":"","filingEndDate":"","oppositionPeriodStartStartDate":"","oppositionPeriodStartEndDate":"","grantStartDate":"","grantEndDate":"","openStartDate":"","openEndDate":"","publicationStartDate":"","publicationEndDate":"","priorityStartDate":"","priorityEndDate":"","ipcClassification":"","cpcClassification":"","basicSearch":"","patentTypes":["PatentDossier","PatentDossierUtilityModel","PatentEurope","Spc"],"noAuthoAppm":"","spcBasePatentNumber":"","publicationTypes":["UM_Revoked","UM_Notification","UM_Granted_Y1","UM_Corrected_Y8","UM_AvailableToPublic_U1","UM_AnnulledPartial_Z1","PT_Transferred","PT_SPCWithdrawn","PT_SPCRefused","PT_SPCLapsed","PT_SPCGranted_Certificate","PT_SPCFiled","PT_SPCDismissed","PT_SPCContinuationGranted","PT_SPCContinuationFiled","PT_Revoked","PT_Reinstated","PT_Refused","PT_OppositionAmended_B2","PT_Opposition_Refused","PT_Notification","PT_Limited_B3","PT_Lapsed","PT_Granted_B1","PT_Granted_B","PT_Expired","PT_EPTranslationAmended_T6","PT_EPTranslation_T3","PT_EPTranslation_T2","PT_AvailableToPublic_A1","PT_Application_withdrawn","PT_Application_refused","PT_Application_dismissed","PT_Application_filed","PT_Annulled","PT_AnnulledPartial","PT_AcceptedApplicationT1","PT_AcceptedApplication"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://patenttitietopalvelu.prh.fi/nis-api-gateway-pat/patent
  response:
    body:
      string: "{\"totalResults\":10,\"results\":[{\"applicationNumber\":\"20125600\",\"registrationNumber\":null,\"dossierStatus\":\"Application_dismissed\",\"dossierType\":\"PatentDossier\",\"applicationDate\":\"2012-06-01\",\"statusDate\":\"2016-05-29\",\"applicants\":[{\"name\":null,\"companyName\":\"Audience,
        Inc.\",\"ordinal\":1}],\"classifications\":[{\"classification\":\"H04M 9/08\"},{\"classification\":\"H04R
        3/00\"}],\"titles\":[{\"title\":\"\xC4\xE4nizoomi\",\"language\":\"FI\",\"ordinal\":1},{\"title\":\"Ljudzoom\",\"language\":\"SV\",\"ordinal\":2},{\"title\":\"Audio
        zoom\",\"language\":\"EN\",\"ordinal\":3}],\"owners\":[{\"name\":null,\"companyName\":\"Audience,
        Inc.\",\"ordinal\":1}],\"appms\":[],\"publications\":[{\"publicationDate\":\"2013-09-30\",\"type\":\"L\",\"publicationSection\":\"PT_AvailableToPublic_A1\",\"ordinal\":1}],\"ordinal\":1},{\"applicationNumber\":\"20110428\",\"registrationNumber\":null,\"dossierStatus\":\"Application_dismissed\",\"dossierType\":\"PatentDossier\",\"applicationDate\":\"2011-12-29\",\"statusDate\":\"2014-02-09\",\"applicants\":[{\"name\":null,\"companyName\":\"Audience,
        Inc.\",\"ordinal\":1}],\"classifications\":[{\"classification\":\"G10L 21/02\"}],\"titles\":[{\"title\":\"Vahingoittuneiden
        audiosignaalien korjaaminen\",\"lan[...]
