interactions:
- request:
    body: '{"searchCriteria":[{"property":"16136935","searchBy":"applicationNumber","matchType":"Contains","order":1,"relation":"AND"}],"dataFilter":{"filterBy":[],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/search/patent
  response:
    body:
      string: '{"status": "Success", "statusCode": 200, "error": null, "successResponse":
        {"data": [{"reelNumber": 58293, "frameNumber": 75, "correspondentName": "KACVINSKY
        DAISAK BLUNI PLLC (LATCH)", "assignorExecutionDate": "06/01/2021", "conveyance":
        "CHANGE OF NAME", "conveyanceCode": 33, "assignors": [{"assignorName": "LATCH,
        INC.", "executionDate": "06/01/2021"}], "assignees": ["LATCH SYSTEMS, INC."],
        "noOfProperties": 1, "properties": [{"sequenceNumber": 18, "applicationNumber":
        "16136935", "fillingDate": "09/20/2018", "internationalRegistrationNumber":
        null, "inventionTitle": "SYSTEMS AND METHODS FOR CONTROLLING ACCESS TO PHYSICAL
        SPACE", "inventors": "Luke SCHOENFELDER Andrew, Michael JONES Brian, Thomas
        MEYERHOFFER, Ali HUSSAIN Akbar, Ivan SOLE Almaral, Travis HOLT, James GRISZBACHER",
        "issueDate": "12/22/2020", "patentNumber": "10872483", "pctNumber": null,
        "pctNumber17": null, "publicationNumber": "20190035194", "publicationDate":
        "01/31/2019", "internationalPublicationDate": ""}]}, {"reelNumber": 55132,
        "frameNumber": 647, "correspondentName": "KACVINSKY DAISAK BLUNI PLLC (1950)",
        "assignorExecutionDate": "01/04/2021", "conveyance": "CHANGE OF NAME", "conveyanceCode":
        33, "assignors": [{"assignorName": "LATCHABLE, INC.", "executionDate": "01/04/2021"}],
        "assignees": ["LATCH, INC."], "noOfProperties": 1, "properties": [{"sequenceNumber":
        2, "applicationNumber": "16136935", "fillingDate": "09/20/2018", "internationalRegistratio[...]
