interactions:
- request:
    body: '{"q":"*","fields":["interferenceNumber","interferenceMetaData"],"pagination":{"offset":0,"limit":5}}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/interferences/decisions/search
  response:
    body:
      string: '{"count":1812,"requestIdentifier":"7f0d17da-f822-408e-974f-54c846da7716","patentInterferenceDataBag":[{"interferenceNumber":"106130","interferenceMetaData":{"fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/INTF/106130/106130.zip","declarationDate":"2021-01-26","interferenceLastModifiedDate":"2025-11-13","interferenceStyleName":"LEE
        M. KAPLAN, ALICE P. LIOU, PETER J. TURNBAUGH, and JASON L. HARRIS v. PATRICE
        CANI, AMANDINE EVERARD, CLARA BELZER, and WILLEM DE VOS","interferenceLastModifiedDateTime":"2025-11-13T00:00:00"}},{"interferenceNumber":"106130","interferenceMetaData":{"fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/INTF/106130/106130.zip","declarationDate":"2021-01-26","interferenceLastModifiedDate":"2025-11-13","interferenceStyleName":"LEE
        M. KAPLAN, ALICE P. LIOU, PETER J. TURNBAUGH, and JASON L. HARRIS v. PATRICE
        CANI, AMANDINE EVERARD, CLARA BELZER, and WILLEM DE VOS","interferenceLastModifiedDateTime":"2025-11-13T00:00:00"}},{"interferenceNumb[...]
