interactions:
- request:
    body: '{"searchCriteria":[{"property":"Pixelmator","searchBy":"assignorName","matchType":"Contains","order":1,"relation":""}],"dataFilter":{"filterBy":[],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v3/public/search/trademark
  response:
    body:
      string: '{"status":"Success","statusCode":200,"error":null,"successResponse":{"data":[{"reelNumber":8875,"frameNumber":"0285","assignorExecutionDate":"05/15/2025","correspondentName":"MRS.
        KIMBERLY ECKHART ","conveyance":"ASSIGNS THE ENTIRE INTEREST","conveyanceCode":22,"domesticRepresentative":"","deleteStatusIndicator":false,"assignors":[{"assignorName":"UAB
        \"PIXELMATOR TEAM\"","executionDate":"05/15/2025"}],"assignees":["APPLE INC."],"noOfProperties":5,"properties":[{"sequenceNumber":1,"serialNumber":88665501,"currentOwner":"APPLE
        INC.","mark":"PIXELMATOR PRO","applicationFilingDate":"10/23/2019","internationalRegistrationNumber":null,"registrationDate":"06/09/2020","registrationNumber":6073758,"registrantName":null}]}],"totalRows":1,"backendPagination":false,"filteredRowsCount":0,"message":null}}'
    headers:
      Content-Type:
      - application/json
      x-process-time:
      - '226'
    status:
      code: 200
      message: OK
version: 1
