interactions:
- request:
    body: '{"searchCriteria":[{"property":"Google","searchBy":"assigneeName","matchType":"Contains","order":1,"relation":"AND"}],"dataFilter":{"filterBy":[],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/search/patent
  response:
    body:
      string: '{"status": "Success", "statusCode": 200, "error": null, "successResponse":
        {"data": [{"reelNumber": 72877, "frameNumber": 227, "correspondentName": "Lerner
        David LLP", "assignorExecutionDate": "11/12/2025", "conveyance": "ASSIGNMENT
        OF ASSIGNOR''S INTEREST ", "conveyanceCode": 23, "assignors": [{"assignorName":
        "SHAHBAZI, MAHYA", "executionDate": "12/14/2023"}, {"assignorName": "ROY,
        BINAYAK", "executionDate": "12/13/2023"}, {"assignorName": "IMWALLE, GREGORY",
        "executionDate": "12/15/2023"}, {"assignorName": "SAKALKAR, VARUN", "executionDate":
        "11/12/2025"}, {"assignorName": "HEISEL, PATRICK", "executionDate": "12/13/2023"},
        {"assignorName": "RANGANATHAN, PARTHASARATHY", "executionDate": "12/13/2023"}],
        "assignees": ["GOOGLE LLC"], "noOfProperties": 1, "properties": [{"sequenceNumber":
        1, "applicationNumber": "19385694", "fillingDate": "11/11/2025", "internationalRegistrationNumber":
        null, "inventionTitle": "Efficient Datacenter Energy Management Based On Compute
        Capacity and Fleet Management", "inventors": "Mahya  Shahbazi,Binayak  Roy,Gregory  Imwalle,Varun  Sakalkar,Patrick  Heisel,Parthasarathy  Ranganathan",
        "issueDate": "", "patentNumber": null, "pctNumber": null, "pctNumber17": null,
        "publicationNumber": null, "publicationDate": "", "internationalPublicationDate":
        ""}]}, {"reelNumber": 71048, "frameNumber": 588, "correspondentName": "SHUMAKER
        & SIEFFERT, P.A.", "assignorExecutionDate": "04/16/2025", "conveyance": "ASSIGNMENT
        OF ASSIGNOR''S INTEREST", "conveyanceCode": 23, "assignors": [{"assignorName":
        "ZAIDI, SYEDA SABA ZEHRA", "executionDate": "03/12/2025"}, {"assignorName":
        "SABUR, ZAHEED MD SHAHJAHAN", "executionDate": "03/03/2025"}, {"assignorName":
        "BARMORE, TRACY ELIZABETH", "executionDate": "03/06/2[...]
