interactions:
- request:
    body: '{"searchCriteria":[{"property":"Samsung","searchBy":"assignorName"},{"property":"5","searchBy":"rowsNeeded"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/patent/exportPublicPatentData
  response:
    body:
      string: '[{"searchCriteria": [{"property": "Samsung", "searchBy": "assignor_name"},
        {"property": "5", "searchBy": "rowsNeeded"}], "data": [{"reelNumber": 36224,
        "frameNumber": 564, "assignorExecutionDate": "07/24/2015", "correspondentName":
        "MCANDREWS HELD & MALLOY, LTD.", "assignors": [{"assignorName": "SAMSUNG SEMICONDUCTOR,
        INC.", "executionDate": "07/24/2015"}], "assignees": ["SAMSUNG ELECTRONICS
        CO., LTD."], "noOfProperties": 9, "properties": [{"sequenceNumber": 1, "applicationNumber":
        "29491624", "fillingDate": "05/22/2014", "internationalRegistrationNumber":
        null, "inventionTitle": "Display Screen or Portion Thereof With a Graphical
        User Interface", "inventors": "Austin Walker Quaid, Gerardo Herrera, Noam
        Rosenthal, Xiao Li, Helder Correia Humberto Pereira", "issueDate": "11/22/2016",
        "patentNumber": "D772256", "pctNumber": null, "pctNumber17": null, "publicationNumber":
        null, "publicationDate": "", "internationalPublicationDate": ""}, {"sequenceNumber":
        2, "applicationNumber": "29491627", "fillingDate": "05/22/2014", "internationalRegistrationNumber":
        null, "inventionTitle": "Display Screen or Portion Thereof With a Graphical
        User Interface", "inventors": "Gerardo Herrera, Austin Walker Quaid, Noam
        Rosenthal, Xiao Li, Helder Correia Humberto Pereira", "issueDate": "11/15/2016",
        "patentNumber": "D771657", "pctNumber": null, "pctNumber17": null, "publicationNumber":
        null, "p[...]
