interactions:
- request:
    body: '{"searchCriteria":[{"property":"10000000","searchBy":"patentNumber","matchType":"Contains","order":1,"relation":"AND"}],"dataFilter":{"filterBy":[],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/search/patent
  response:
    body:
      string: '{"status": "Success", "statusCode": 200, "error": null, "successResponse":
        {"data": [{"reelNumber": 35130, "frameNumber": 327, "correspondentName": "DOCKET
        CLERK-RAYTHEON/MWM", "assignorExecutionDate": "03/06/2015", "conveyance":
        "ASSIGNMENT OF ASSIGNOR''S INTEREST", "conveyanceCode": 23, "assignors": [{"assignorName":
        "MARRON, JOSEPH", "executionDate": "03/06/2015"}], "assignees": ["RAYTHEON
        COMPANY"], "noOfProperties": 1, "properties": [{"sequenceNumber": 1, "applicationNumber":
        "14643719", "fillingDate": "03/10/2015", "internationalRegistrationNumber":
        null, "inventionTitle": "COHERENT LADAR USING INTRA-PIXEL QUADRATURE DETECTION",
        "inventors": "Joseph Marron", "issueDate": "06/19/2018", "patentNumber": "10000000",
        "pctNumber": null, "pctNumber17": null, "publicationNumber": "20160266243",
        "publicationDate": "09/15/2016", "internationalPublicationDate": ""}]}], "totalRows":
        1, "backendPagination": false, "filteredRowsCount": 0, "message": null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
