interactions:
- request:
    body: '{"searchCriteria":[{"property":"Apple","searchBy":"assigneeName","matchType":"Contains","order":1,"relation":""}],"dataFilter":{"filterBy":[],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v3/public/search/trademark
  response:
    body:
      string: "{\"status\":\"Success\",\"statusCode\":200,\"error\":null,\"successResponse\":{\"data\":[{\"reelNumber\":9150,\"frameNumber\":\"0184\",\"assignorExecutionDate\":\"11/05/2025\",\"correspondentName\":\"Alexander
        Jackson \",\"conveyance\":\"ASSIGNS THE ENTIRE INTEREST \",\"conveyanceCode\":22,\"domesticRepresentative\":\"\",\"deleteStatusIndicator\":false,\"assignors\":[{\"assignorName\":\"ENERGY
        KITCHEN LLC\",\"executionDate\":\"11/05/2025\"}],\"assignees\":[\"APPLE INC.\"],\"noOfProperties\":1,\"properties\":[{\"sequenceNumber\":1,\"serialNumber\":97678803,\"currentOwner\":\"ENERGY
        KITCHEN LLC\",\"mark\":\"ENERGYKIT\",\"applicationFilingDate\":\"11/15/2022\",\"internationalRegistrationNumber\":null,\"registrationDate\":\"02/06/2024\",\"registrationNumber\":7297370,\"registrantName\":null}]},{\"reelNumber\":9138,\"frameNumber\":\"0093\",\"assignorExecutionDate\":\"11/04/2025\",\"correspondentName\":\"Kimberly
        Eckhart \",\"conveyance\":\"ASSIGNS THE ENTIRE INTEREST \",\"conveyanceCode\":22,\"domesticRepresentative\":\"\",\"deleteStatusIndicator\":false,\"assignors\":[{\"assignorName\":\"FIFTH
        SEASON, LLC\",\"executionDate\":\"11/04/2025\"}],\"assignees\":[\"APPLE VIDEO
        PROGRAMMING LLC\"],\"noOfProperties\":3,\"properties\":[{\"sequenceNumber\":1,\"seri[...]
