interactions:
- request:
    body: '{"sort":[{"field":"trialNumber","order":"asc"}],"pagination":{"offset":0,"limit":5}}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/trials/proceedings/search
  response:
    body:
      string: '{"count":19315,"requestIdentifier":"f940cb67-0c2a-44e9-a508-4579d0368c7d","patentTrialProceedingDataBag":[{"lastModifiedDateTime":"2025-12-12T17:01:43","patentOwnerData":{"patentOwnerName":"Versata
        Software, Inc","patentNumber":"6553350","grantDate":"2003-04-22","technologyCenterNumber":"3600","groupArtUnitNumber":"3628","applicationNumberText":"09253427","inventorName":"THOMAS
        CARTER"},"trialMetaData":{"accordedFilingDate":"2012-09-16","terminationDate":"2013-06-11","trialTypeCode":"CBM","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/CBM/2012/00001/CBM2012-00001.zip","institutionDecisionDate":"2013-01-09","trialStatusCategory":"Final
        Written Decision","petitionFilingDate":"2012-09-16"},"trialNumber":"CBM2012-00001","regularPetitionerData":{"realPartyInInterestName":"SAP
        America, Inc. et al.","counselName":"Arner, Erikaet al"}},{"lastModifiedDateTime":"2025-12-12T17:01:43","patentOwnerData":{"patentOwnerName":"Progressive
        Casualty Insurance Company","patentNumber":"6064970","grantDate":"2000-05-16","realPartyInInterestName":"Progressive
        Casualty Insurance Company","technologyCenterNumber":"2800","applicationNumberText":"09135034","inventorName":"ROBERT
        MCMILLAN","counselName":"Biernacki, Johnet al"},"trialMetaData":{"accordedFilingDate":"2012-09-16","terminationDate":"2014-01-23","trialTypeCode":"CBM","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/CBM/2012/00002/CBM2012-00002.zip","institutionDecisionDate":"2013-01-25","trialStatusCategory":"Final
        Written Decision","trialLastModifiedDate":"2022-10-10","petitionFilingDate":"2012-09-16","trialLastModifiedDateTime":"2022-10-10T11:53:44"},"trialNumber":"CBM2012-00002","regularPetitionerData":{"realPartyInInterestName":"Liberty
        Mutual Insurance Company","counselName":"Baughman, Stevenet al"}},{"lastModifiedDateTime":"2025-12-12T17:01:43","patentOwnerData":{"patentOwnerName":"Progressive
        Casualty Insurance Company","patentNumber":"8140358","grantDate":"2012-03-20","realPartyInInterestName":"Progressive
        Casualty Insurance Company","technologyCenterNumber":"3600","groupArtUnitNumber":"36[...]
