interactions:
- request:
    body: '{"searchCriteria":[{"property":"Apple","searchBy":"assigneeName"},{"property":"3","searchBy":"rowsNeeded"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/trademark/exportTradeMarkData
  response:
    body:
      string: '[{"searchCriteria": [{"property": "Apple", "searchBy": "assignee_name"},
        {"property": "3", "searchBy": "rowsNeeded"}], "data": [{"reelNumber": 4193,
        "frameNumber": "0899", "assignorExecutionDate": "04/27/2010", "correspondentName":
        "JOHN DONALD", "domesticRepresentative": "", "assignors": [{"assignorName":
        "FINGERWORKS, INC.", "executionDate": "04/27/2010"}], "assignees": ["APPLE
        INC."], "noOfProperties": 3, "properties": [{"sequenceNumber": 1, "serialNumber":
        76517917, "currentOwner": "APPLE INC.", "mark": "MACNTOUCH", "applicationFilingDate":
        "05/29/2003", "internationalRegistrationNumber": null, "registrationDate":
        "01/18/2005", "registrationNumber": 2919593, "registrantName": null}, {"sequenceNumber":
        2, "serialNumber": 78073082, "currentOwner": "APPLE INC.", "mark": "IGESTURE",
        "applicationFilingDate": "07/10/2001", "internationalRegistrationNumber":
        null, "registrationDate": "06/22/2004", "registrationNumber": 2856683, "registrantName":
        null}, {"sequenceNumber": 3, "serialNumber": 78495531, "currentOwner": "APPLE
        INC.", "mark": "XWINDER", "applicationFilingDate": "10/06/2004", "internationalRegistrationNumber":
        null,[...]
