interactions:
- request:
    body: '{"searchCriteria":[{"property":"58293/75","searchBy":"reelFrame","matchType":"Contains","order":1,"relation":"AND"}],"dataFilter":{"filterBy":[],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/search/patent
  response:
    body:
      string: '{"status": "Success", "statusCode": 200, "error": null, "successResponse":
        {"data": [{"reelNumber": 58293, "frameNumber": 75, "correspondentName": "KACVINSKY
        DAISAK BLUNI PLLC (LATCH)", "assignorExecutionDate": "06/01/2021", "conveyance":
        "CHANGE OF NAME", "conveyanceCode": 33, "assignors": [{"assignorName": "LATCH,
        INC.", "executionDate": "06/01/2021"}], "assignees": ["LATCH SYSTEMS, INC."],
        "noOfProperties": 29, "properties": [{"sequenceNumber": 1, "applicationNumber":
        "17171540", "fillingDate": "02/09/2021", "internationalRegistrationNumber":
        null, "inventionTitle": "SYSTEMS AND TECHNIQUES TO PROVIDE SMART ACCESS CAPABILITIES
        IN A SMART SYSTEM ENVIRONMENT", "inventors": "Luke SCHOENFELDER Andrew, Michael
        JONES Brian, David SHAPIRO, Saayuj DHANAK", "issueDate": "", "patentNumber":
        null, "pctNumber": null, "pctNumber17": null, "publicationNumber": "20220254212",
        "publicationDate": "08/11/2022", "internationalPublicationDate": ""}]}], "totalRows":
        1, "backendPagination": false, "filteredRowsCount": 0, "message": null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
