interactions:
- request:
    body: ''
    headers:
      uspto-api-key:
      - REDACTED
    method: GET
    uri: https://tsdrapi.uspto.gov/ts/cd/casedocs/sn78787878/info
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><DocumentList
        xmlns="urn:us:gov:doc:uspto:trademark"><Document><SerialNumber>78787878</SerialNumber><DocumentTypeCode>CDR</DocumentTypeCode><DocumentTypeCodeDescriptionText>Change
        of Domestic Rep. Address</DocumentTypeCodeDescriptionText><DocumentTypeDescriptionText>Change
        Domestic Rep.</DocumentTypeDescriptionText><CategoryTypeCode>I</CategoryTypeCode><CategoryTypeCodeDescriptionText>Incoming</CategoryTypeCodeDescriptionText><MailRoomDate>2025-01-02-05:00</MailRoomDate><ScanDateTime>2025-12-02T14:17:21.000-05:00</ScanDateTime><TotalPageQuantity>10</TotalPageQuantity><PageMediaTypeList><PageMediaTypeName>image/tiff</PageMediaTypeName><PageMediaTypeName>image/tiff</PageMediaTypeName><PageMediaTypeName>image/tiff</PageMediaTypeName><PageMediaTypeName>image/tiff</PageMediaTypeName><PageMediaTypeName>image/tiff</PageMediaTypeName><PageMediaTypeName>image/tiff</PageMediaTypeName><PageMediaTypeName>image/tiff</PageMediaTypeName><PageMediaTypeName>image/tiff</PageMediaTypeName><PageMediaTypeName>image/tiff</PageMediaTypeName><PageMediaTypeName>image/tiff</PageMediaTypeName></PageMediaTypeList></Documen[...]
