interactions:
- request:
    body: '{"q":"decisionData.decisionTypeCategory:Decision","pagination":{"offset":0,"limit":5}}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/trials/decisions/search
  response:
    body:
      string: "{\"count\":20384,\"requestIdentifier\":\"c9aba442-a8de-43fa-b362-d2acfceba528\",\"patentTrialDocumentDataBag\":[{\"trialNumber\":\"IPR2022-01002\",\"lastModifiedDateTime\":\"2026-04-22T13:16:20\",\"trialDocumentCategory\":\"Decision\",\"trialMetaData\":{\"institutionDecisionDate\":\"2022-12-05\",\"accordedFilingDate\":\"2022-05-23\",\"petitionFilingDate\":\"2022-05-23\",\"trialLastModifiedDateTime\":\"2026-04-22T08:38:16\",\"trialLastModifiedDate\":\"2026-04-22\",\"terminationDate\":\"2026-04-22\",\"trialStatusCategory\":\"Final
        Written Decision\",\"latestDecisionDate\":\"2026-04-22\",\"trialTypeCode\":\"IPR\"},\"patentOwnerData\":{\"applicationNumberText\":\"14709428\",\"counselName\":\"Weatherwax,
        Kennethet al\",\"grantDate\":\"2015-11-17\",\"groupArtUnitNumber\":\"2476\",\"inventorName\":\"Sanjay
        K. Rao et al\",\"realPartyInInterestName\":\"Smart Mobile Technologies LLC\",\"patentNumber\":\"9191083\",\"technologyCenterNumber\":\"2400\"},\"regularPetitionerData\":{\"counselName\":\"Renner,
        Walteret al\",\"realPartyInInterestName\":\"Samsung Electronics Co., Ltd.
        et al.\"},\"documentData\":{\"documentCategory\":\"FINAL\",\"documentFilingDate\":\"2026-04-22\",\"documentIdentifier\":\"171322794\",\"documentName\":\"FWD
        on Remand Final to Mail IPR2022-01002.pdf\",\"documentNumber\":52,\"documentSizeQuantity\":618504,\"documentTitleText\":\"JUDGMENT
        Final Written Decision Determining All Challenged Claims Unpatentable 35 U.S.C.
        \xA7 318(a)\",\"documentTypeDescriptionText\":\"Final Written Decision: On
        remand from the CAFC\",\"fileDownloadURI\":\"https://api.uspto.gov/api/v1/patent/ptab-files/IPR/2022/01002/171322794.pdf\",\"filingPartyCategory\":\"BOARD\",\"documentOCRText\":\"Trials@uspto.gov
        Paper 52 \\n571-272-7822 Date: April 22, 2026 \\n\\n \\n\\nUNITED STATES PATENT
        AND TRADEMARK OFFICE \\n \\n\\nBEFORE THE PATENT TRIAL AND APPEAL BOARD \\n
        \\n\\nAPPLE INC., SAMSUNG ELECTRONICS CO., LTD., AND \\nSAMSUNG ELECRTORNICS
        AMERICA, INC., \\n\\nPetitioner, \\n\\nv. \\n\\nSMART MOBILE TECHNOLOGIES
        LLC, \\nPatent Owner. \\n\\n \\n\\nIPR2022-01002 \\nPatent 9,191,083 B1  \\n\\n
        \\n\\nBefore JAMESON LEE, KEVIN F. TURNER, and  \\nHYUN J. JUNG, Administrative
        Patent Judges. \\n \\nLEE, Administrative Patent Judge.  \\n\\nJUDGMENT \\nFinal
        Written\"},\"decisionData\":{\"statuteAndRuleBag\":[\"37 CFR 42.100\",\"37
        CFR 42.73\",\"35 USC 311\",\"35 USC 318\"],\"decisionIssueDate\":\"2026-04-22\",\"decisionTypeCategory\":\"Decision\",\"issueTypeBag\":[\"102\",\"103\"],\"trialOutcomeCategory\":\"Final
        Written Decision On CAFC Remand\"}},{\"trialNumber\":\"IPR2023-00042\",\"lastModifiedDateTime\":\"2026-04-20T15:11:11\",\"trialDocumentCategory\":\"Decision\",\"trialMetaData\":{\"institutionDecisionDate\":\"2024-04-23\",\"accordedFilingDate\":\"2022-10-26\",\"petitionFilingDate\":\"2022-10-12\",\"trialLastModifiedDateTime\":\"2026-04-20T09:52:26\",\"trialLastModifiedDate\":\"2026-04-20\",\"terminationDate\":\"2024-04-23\",\"trialStatusCategory\":\"Final
        Written Decision\[...]
