interactions:
- request:
    body: '{"searchCriteria":[{"property":"88874668","searchBy":"serialNumber","matchType":"Exact","order":1,"relation":""}],"dataFilter":{"filterBy":[],"rowsPerPage":1000,"currentPage":1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v3/public/search/trademark
  response:
    body:
      string: '{"status":"Success","statusCode":200,"error":null,"successResponse":{"data":[{"reelNumber":9006,"frameNumber":"0093","assignorExecutionDate":"07/22/2025","correspondentName":"PHILLIP
        A. ROSENBERG ","conveyance":"ASSIGNS THE ENTIRE INTEREST","conveyanceCode":22,"domesticRepresentative":"","deleteStatusIndicator":false,"assignors":[{"assignorName":"RAC7
        GAMES ULC","executionDate":"07/22/2025"}],"assignees":["APPLE INC."],"noOfProperties":1,"properties":[{"sequenceNumber":1,"serialNumber":88874668,"currentOwner":"RAC7
        GAMES INC.","mark":"SNEAKY SASQUATCH","applicationFilingDate":"04/16/2020","internationalRegistrationNumber":null,"registrationDate":"11/24/2020","registrationNumber":6204399,"registrantName":null}]},{"reelNumber":9053,"frameNumber":"0654","assignorExecutionDate":"07/02/2025","correspondentName":"Phillip
        A. Rosenberg ","conveyance":"MERGER EFFECTIVE 7/2/2025 12:00:00 AM","conveyanceCode":28,"domesticRepresentative":"","deleteStatusIndicator":false,"assignors":[{"assignorName":"RAC7
        GAMES INC.","executionDate":"07/02/2025"}],"assignees":["1536345 B.C. UNLIMITED
        LIABILITY COMPANY"],"noOfProperties":1,"properties":[{"sequenceNumber":1,"serialNumber":88874668,"currentOwner":"RAC7
        GAMES INC.","mark":"SNEAKY SASQUATCH","applicationFilingDate":"04/16/2020","internationalRegistrationNumber":null,"registrationDate":"11/24/2020","registrationNumber":6204399,"registrantName":null}]},{"reelNumber":9006,"frameNumber":"0088","assignorExecutionDate":"07/02/2025","correspondentName":"PHILLIP
        A. ROSENBERG ","conveyance":"CHANGE OF NAME","conveyanceCode":33,"domesticRepresentative":"","deleteStatusIndicator":false,"assignors":[{"assignorName":"1536345
        B.C. UNLIMITED LIABILITY COMPANY","executionDate":"07/02/2025"}],"assignees":["RAC7
        GAMES ULC"],"noOfProperties":1,"properties":[{"sequenceNumber":1,"serialNumber":88874668,"currentOwner":"RAC7
        GAMES INC.","mark":"SNEAKY SASQUATCH","applicationFilingDate":"04/16/2020","internationalRegistrationNumber":null,"registrationDate":"11/24/2020","registrationNumber":6204399,"registrantName":null}]}],"totalRows":3,"backendPagination":false,"filteredRowsCount":0,"message":null}}'
    headers:
      Content-Type:
      - application/json
      x-process-time:
      - '145'
    status:
      code: 200
      message: OK
version: 1
