interactions:
- request:
    body: ''
    headers:
      uspto-api-key:
      - REDACTED
    method: GET
    uri: https://tsdrapi.uspto.gov/ts/cd/casestatus/sn78787878/info
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:TrademarkTransaction
        xmlns:ns1=\"http://www.wipo.int/standards/XMLSchema/ST96/Common\" xmlns:ns2=\"http://www.wipo.int/standards/XMLSchema/ST96/Trademark\"
        xmlns:ns3=\"urn:us:gov:doc:uspto:trademark\">\n    <ns2:TrademarkTransactionBody>\n
        \       <ns2:TransactionContentBag>\n            <ns1:TransactionCategory>National
        trademark registration</ns1:TransactionCategory>\n            <ns2:TransactionData>\n
        \               <ns2:TrademarkBag>\n                    <ns2:Trademark>\n
        \                       <ns1:ApplicationNumber>\n                            <ns1:IPOfficeCode>US</ns1:IPOfficeCode>\n
        \                           <ns1:ApplicationNumberText>78787878</ns1:ApplicationNumberText>\n
        \                       </ns1:ApplicationNumber>\n                        <ns2:ApplicationDate>2006-01-09-05:00</ns2:ApplicationDate>\n
        \                       <ns1:FilingPlace>US</ns1:FilingPlace>\n                        <ns2:MarkCurrentStatusCode>602</ns2:MarkCurrentStatusCode>\n
        \                       <ns2:MarkCurrentStatusDate>2007-09-25</ns2:MarkCurrentStatusDate>\n
        \                       <ns2:AssociatedMarkBag>\n                            <ns2:AssociatedMark>\n<ns2:AssociationCategory>International
        application or registration</ns2:AssociationCategory>\n<ns1:ApplicationNumber>\n
        \   <ns1:IPOfficeCode>WO</ns1:IPOfficeCode>\n    <ns1:ApplicationNumberText>A3141234</ns1:ApplicationNumberText>\n</ns1:ApplicationNumber>\n<ns2:InternationalApplicationNumber>\n
        \   <ns1:ApplicationNumberText> </ns1:ApplicationNumberText>\n</ns2:InternationalApplicationNumber>\n
        \                           </ns2:AssociatedMark>\n                        </ns2:AssociatedMarkBag>\n
        \                       <ns2:MarkCategory>Collective membership mark</ns2:MarkCategory>\n
        \                       <ns2:MarkRepresentation>\n                            <ns2:MarkReproduction>\n<ns2:WordMarkSpecification>\n
        \   <ns2:MarkVerbalElementText>MAC MEMPHIS ATHLETIC CAMPUS</ns2:MarkVerbalElementText>\n
        \   <ns2:MarkSignificantVerbalElementText>MAC MEMPHIS ATHLETIC CAMPUS</ns2:MarkSignificantVerbalElementText>\n
        \   <ns2:MarkTranslationText ns1:sequenceNumber=\"1\"/>\n    <ns2:MarkTransliteration/>\n
        \   <ns2:MarkStandardCharacterIndicator>false</ns2:MarkStandardCharacterIndicator>\n</ns2:WordMarkSpecification>\n<ns2:MarkImageBag>\n
        \   <ns2:MarkImage>\n        <ns1:FileName>78787878.jpg</ns1:FileName>\n        <ns2:MarkImageColourClaimedText
        ns1:sequenceNumber=\"1\">The applicant claims color as a feature of the mark,
        namely, BLACK, BLUE, WHITE, AND RED.</ns2:MarkImageColourClaimedText>\n        <ns2:MarkImageColourPartClaimedText
        ns1:sequenceNumber=\"1\"/>\n        <ns2:NationalDesignSearchCodeBag>\n            <ns2:NationalDesignSearchCode>\n
        \               <ns2:NationalDesignCode>01.01.09</ns2:NationalDesignCode>\n
        \               <ns2:NationalDesignCodeDescriptionText>Stars, two</ns2:NationalDesignCodeDescriptionText>\n
        \               <ns2:NationalDesignCodeDescriptionText>Two stars</ns2:NationalDesignCodeDescriptionText>\n
        \           </ns2:NationalDesignSearchCode>\n            <ns2:NationalDesignSearchCode>\n
        \               <ns2:NationalDesignCode>01.01.13</ns2:NationalDesignCode>\n
        \               <ns2:NationalDesignCodeDescriptionText>Stars - multiple stars
        with five points</ns2:NationalDesignCodeDescriptionText>[...]
