interactions:
- request:
    body: '{"q":"appellantData.technologyCenterNumber:2800","sort":[{"field":"appealNumber","order":"asc"}],"pagination":{"offset":0,"limit":5}}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/appeals/decisions/search
  response:
    body:
      string: '{"count":13552,"requestIdentifier":"c07fa24b-0b73-4f1b-8e5a-61db3c008902","patentAppealDataBag":[{"appealNumber":"1994000166","appealDocumentCategory":"Decision","lastModifiedDateTime":"2026-02-26T10:59:15","appealMetaData":{"appealFilingDate":"0001-01-03","appealLastModifiedDateTime":"1997-12-19T00:00:00","appealLastModifiedDate":"1997-12-19","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/APP/1994/000166/1994000166.zip"},"appellantData":{"applicationNumberText":"07815316","counselName":"P.V.D.
        WILDE","grantDate":"1999-03-09","groupArtUnitNumber":"2814","inventorName":"LEE
        et al","realPartyInInterestName":"LEE et al","patentNumber":"5880022","patentOwnerName":"LEE
        et al","technologyCenterNumber":"2800"},"documentData":{"documentFilingDate":"1998-07-15","documentIdentifier":"199400016607815316Appeal1998-07-15-00:00:00","documentName":"1994000166_DECISION.pdf","documentSizeQuantity":20089,"documentOCRText":"D:JULY19~1FD940166.PDF\n\n\n
        Application for patent filed December 30, 1991. 1\n\nTHIS OPINION WAS NOT
        WRITTEN FOR PUBLICATION\n\nThe opinion in support of the decision being entered\ntoday
        (1) was not written for publication in a law\njournal and (2) is not binding
        precedent of the Board.\n\nPaper No. 13\n\nUNITED STATES PATENT AND TRADEMARK
        OFFICE\n____________\n\nBEFORE THE BOARD OF PATENT APPEALS\nAND INTERFERENCES\n\n____________\n\nEx
        parte KUO-HUA LEE and CHEN-HUA D. YU\n____________\n\nAppeal No. 94-0166\nApplication","documentTypeDescriptionText":"Paper","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/APP/1994/000166/199400016607815316Appeal1998-07-15-00:00:00.pdf"},"decisionData":{"appealOutcomeCategory":"Reversed","statuteAndRuleBag":[],"decisionIssueDate":"1998-07-15","decisionTypeCategory":"Decision","issueTypeBag":["112","103"]}},{"appealNumber":"1994000809","appealDocumentCategory":"Decision","lastModifiedDateTime":"2026-02-26T10:59:15","appealMetaData":{"appealFilingDate":"0001-01-03","appealLastModifiedDateTime":"1997-12-19T00:00:00","appealLastModifiedDate":"1997-12-19","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/APP/1994/000809/1994000809.zip"},"appellantData":{"applicationNumberText":"07707365","counselName":"JAMES
        H.FOX","grantDate":"1999-03-09","groupArtUnitNumber":"2[...]
