interactions:
- request:
    body: '{"searchCriteria":[{"property":"6204399","searchBy":"registrationNumber"},{"property":"100","searchBy":"rowsNeeded"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/trademark/exportTradeMarkData
  response:
    body:
      string: '[{"searchCriteria": [{"property": "6204399", "searchBy": "registration_number"},
        {"property": "100", "searchBy": "rowsNeeded"}], "data": [{"reelNumber": 9006,
        "frameNumber": "0093", "assignorExecutionDate": "07/22/2025", "correspondentName":
        "PHILLIP A. ROSENBERG ", "domesticRepresentative": "", "assignors": [{"assignorName":
        "RAC7 GAMES ULC", "executionDate": "07/22/2025"}], "assignees": ["APPLE INC."],
        "noOfProperties": 1, "properties": [{"sequenceNumber": 1, "serialNumber":
        88874668, "currentOwner": "RAC7 GAMES INC.", "mark": "SNEAKY SASQUATCH", "applicationFilingDate":
        "04/16/2020", "internationalRegistrationNumber": null, "registrationDate":
        "11/24/2020", "registrationNumber": 6204399, "registrantName": null}]}, {"reelNumber":
        9053, "frameNumber": "0654", "assignorExecutionDate": "07/02/2025", "correspondentName":
        "Phillip A. Rosenberg ", "domesticRepresentative": "", "assignors": [{"assignorName":
        "RAC7 GAMES INC.", "executionDate": "07/02/2025"}], "assignees": ["1536345
        B.C. UNLIMITED LIABILITY COMPANY"], "noOfProperties": 1, "properties": [{"sequenceNumber":
        1, "serialNumber": 88874668, "currentOwner": "RAC7 GAMES INC.", "mark": "SNEAKY
        SASQUATCH", "applicationFilingDate": "04/16/2020", "internationalRegistrationNumber":
        null, "registrationDate": "11/24/2020", "registrationNumber": 6204399, "registrantName":
        null}]}, {"reelNumber": 9006, "frameNumber": "0088", "assignorExecutionDate":
        "07/02/2025", "correspondentName": "PHILLIP A. ROSENBERG ", "domesticRepresentative":
        "", "assignors": [{"assignorName": "1536345 B.C. UNLIMITED LIABILITY COMPANY",
        "executionDate": "07/02/2025"}], "assignees": ["RAC7 GAMES ULC"], "noOfProperties":
        1, "properties": [{"sequenceNumber": 1, "serialNumber": 88874668, "currentOwner":
        "RAC7 GAMES INC.", "mark": "SNEAKY SASQUATCH", "applicationFilingDate": "04/16/2020",
        "internationalRegistrationNumber": null, "registrationDate": "11/24/2020",
        "registrationNumber": 6204399, "registrantName": null}]}]}]'
    headers:
      Content-Disposition:
      - attachment;filename=exportPublicData_20260112_221849.json
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
