interactions:
- request:
    body: '{"q":"*","pagination":{"limit":5},"format":"json"}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/interferences/decisions/search/download
  response:
    body:
      string: "{\"interferenceData\":[{\"interferenceNumber\":\"106130\",\"interferenceMetaData\":{\"interferenceStyleName\":\"LEE
        M. KAPLAN, ALICE P. LIOU, PETER J. TURNBAUGH, and JASON L. HARRIS v. PATRICE
        CANI, AMANDINE EVERARD, CLARA BELZER, and WILLEM DE VOS\"},\"documentData\":{\"decisionTypeCategory\":\"Decision\",\"decisionIssueDate\":\"2025-01-28\",\"interferenceOutcomeCategory\":\"Judgment\"},\"seniorPartyData\":{\"realPartyInInterestName\":\"UNIVERSIT\xC9
        CATHOLIQUE DE LOUVAIN; WAGENINGEN UNIVERSITEIT\",\"applicationNumberText\":\"14443829\"}},{\"interferenceNumber\":\"106130\",\"interferenceMetaData\":{\"interferenceStyleName\":\"LEE
        M. KAPLAN, ALICE P. LIOU, PETER J. TURNBAUGH, and JASON L. HARRIS v. PATRICE
        CANI, AMANDINE EVERARD, CLARA BELZER, and WILLEM DE VOS\"},\"documentData\":{\"decisionTypeCategory\":\"Motion
        Decision\",\"decisionIssueDate\":\"2025-01-28\",\"interferenceOutcomeCategory\":\"Decision
        on Motion\"},\"seniorPartyData\":{\"realPartyInInterestName\":\"UNIVERSIT\xC9
   [...]
