interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://patenttitietopalvelu.prh.fi/nis-api-gateway-pat/patent/20100001
  response:
    body:
      string: "{\"applicationType\":\"PATENT_FOR_INVENTION\",\"relatedDossierType\":\"INTERNATIONAL_FILING\",\"applicationNumber\":\"20100001\",\"registrationNumber\":\"124716\",\"applicationDate\":\"2010-01-04\",\"filingDate\":\"2008-07-03\",\"grantDate\":\"2014-12-31\",\"publicationDate\":\"2010-03-30\",\"patentTitle\":[{\"title\":[\"J\xE4rjestelm\xE4
        ja menetelm\xE4 adaptiivista \xE4lyk\xE4st\xE4 kohinanvaimennusta varten\"],\"language\":\"FI\",\"ordinal\":1},{\"title\":[\"System
        och f\xF6rfarande f\xF6r adaptiv intelligent brusd\xE4mpning\"],\"language\":\"SV\",\"ordinal\":2},{\"title\":[\"System
        and method for adaptive intelligent noise suppression\"],\"language\":\"EN\",\"ordinal\":3}],\"events\":[],\"abstracts\":[{\"content\":\"Esille
        tuodaan j\xE4rjestelmi\xE4 ja menetelmi\xE4 adaptiivista \xE4lyk\xE4st\xE4
        kohinanvaimennusta varten. Esimerkkisovellutusmuodoissa vastaanotetaan ensisijainen
        akustinen signaali. Sitten ensisijaisen akustisen signaalin perusteella m\xE4\xE4ritet\xE4\xE4n
        puheen s\xE4r\xF6n estimaatti. Puheen s\xE4r\xF6n estimaattia k\xE4ytet\xE4\xE4n
        siistaussuodinta s\xE4\xE4t\xE4vien ohjaussignaalien johtamiseen. Siistaussuodinta
        k\xE4ytet\xE4\xE4n usean vahvistusmaskin generoimiseen, joita voidaan soveltaa
        ensisijaiseen akustiseen signaaliin kohinavaimennetun signaalin generoimiseksi.\\n(Kuvio
        3)\",\"language\":\"FI\",\"ordinal\":1},{\"content\":\"System och f\xF6rfaranden
        f\xF6r adaptiv intelligent brusd\xE4mpning tillhandah\xE5lles. I utf\xF6ringsexemplen
        tas det emot en prim\xE4r akustisk signal. P\xE5 basis av den prim\xE4ra akustiska
        signalen best\xE4ms det d\xE4refter ett estimat f\xF6r taldistorsion. Taldistorsionsestimatet
        anv\xE4nds till h\xE4rledning av styrsignaler som reglerar ett rensningsfilter.
        Rensningsfiltret anv\xE4nds f\xF6r generering av ett flertal f\xF6rst\xE4rkningsmasker,
        vilka kan till\xE4mpas p\xE5 den prim\xE4ra akustiska signalen f\xF6r generering
        av en brusd\xE4mpad signal.\",\"language\":\"SV\",\"ordinal\":2}],\"priorityClaims\":[{\"officeCode\":\"US\",\"filingDate\":\"2007-07-06\",\"applicationNumber\":\"825563
        P\",\"ordinal\":1}],\"imageUrl\":null,\"documents\":{\"document\":[{\"documentKind\":\"Incoming\",\"documentSubKind\":\"Incoming.TIIVI\",\"documentDate\":\"2010-03-30\",\"name\":\"FI20100001-TIIVIR.pdf\",\"url\":\"/opendata/patent/document/2010/20100001/FI20100001-TIIVIR.pdf\",\"languageCode\":\"sv\",\"ordinal\":1},{\"documentKind\":\"Incoming\",\"documentSubKind\":\"Incoming.VAATI\",\"documentDate\":\"2014-05-16\",\"name\":\"FI20100001-VAATIS-2.pdf\",\"url\":\"/opendata/patent/document/2010/20100001/FI20100001-VAATIS-2.pdf\",\"languageCode\":\"fi\",\"ordinal\":2},{\"documentKind\":\"Incoming\",\"documentSubKind\":\"Incoming.VAATI\",\"documentDate\":\"2014-05-16\",\"name\":\"FI20100001-VAATIS-1.pdf\",\"url\":\"/opendata/patent/document/2010/20100001/FI20100001-VAATIS-1.pdf\",\"languag[...]
