interactions:
- request:
    body: '{"searchCriteria":[{"property":"37879/527","searchBy":"reelFrame"},{"property":"10","searchBy":"rowsNeeded"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/patent/exportPublicPatentData
  response:
    body:
      string: '[{"searchCriteria": [{"property": "37879/527", "searchBy": "reelFrame"},
        {"property": "10", "searchBy": "rowsNeeded"}], "data": [{"reelNumber": 37879,
        "frameNumber": 527, "assignorExecutionDate": "03/02/2016", "correspondentName":
        "NORTON ROSE FULBRIGHT US LLP", "assignors": [{"assignorName": "CLARK, AMANDER",
        "executionDate": "03/02/2016"}, {"assignorName": "CHEN, DI", "executionDate":
        "03/02/2016"}], "assignees": ["THE REGENTS OF THE UNIVERSITY OF CALIFORNIA"],
        "noOfProperties": 1, "properties": [{"sequenceNumber": 1, "applicationNumber":
        "62290737", "fillingDate": "02/03/2016", "internationalRegistrationNumber":
        null, "inventionTitle": "METHODS AND COMPOSITIONS FOR CULTURING STEM CELLS",
        "inventors": "Amander CLARK, Di Chen", "issueDate": "", "patentNumber": null,
        "pctNumber": null, "pctNumber17": null, "publicationNumber": null, "publicationDate":
        "", "internationalPublicationDate": ""}]}]}]'
    headers:
      Content-Disposition:
      - attachment;filename=exportPublicData_20260422_194435.json
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
