interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://patents.google.com/xhr/query?url=q%3Drobot%26num%3D5
  response:
    body:
      string: "{\"results\":{\"total_num_results\":110761, \"total_num_pages\":100,
        \"many_results\":false, \"num_page\":0, \"cluster\":[{\"result\":[{\"id\":\"patent/JP7661093B2/en\",
        \"rank\":0, \"patent\":{\"title\":\" Grasp planning method for industrial
        <b>robot</b> and grasp planning system for &hellip;\", \"snippet\":\" The
        method of claim 1, wherein planning the motion of the <b>robot</b> to grasp
        and move the workpiece includes using inverse kinematics calculations to calculate
        the motion of the joints of the <b>robot</b> to grasp and move the workpiece
        with a gripper tool of the <b>robot</b>, and further includes performing &hellip;\",
        \"priority_date\":\"2020-04-03\", \"filing_date\":\"2021-04-02\", \"grant_date\":\"2025-04-14\",
        \"publication_date\":\"2025-04-14\", \"inventor\":\"\u30C1\u30E5\u30FC \u30B7\u30F3\u30CF\u30AA\",
        \"assignee\":\"\u30D5\u30A1\u30CA\u30C3\u30AF\u682A\u5F0F\u4F1A\u793E\", \"publication_number\":\"JP7661093B2\",
        \"language\":\"en\", \"thumbnail\":\"68/f3/57/2c9a4b3efed809/0007661093000001.png\",
        \"pdf\":\"16/95/c9/448eb1ffda95b0/JP7661093B2.pdf\", \"figures\":[{\"thumbnail\":\"00/08/7c/026cd0802f61d8/0007661093000001.png\",
        \"full\":\"03/f4/29/bb0fd848667dde/0007661093000001.png\"}, {\"thumbnail\":\"db/d6/66/9be1e9ac5174f1/0007661093000002.png\",
        \"full\":\"78/d3/43/2837f2751c4bf2/0007661093000002.png\"}, {\"thumbnail\":\"f5/fb/25/850c410a1cece6/0007661093000003.png\",
        \"full\":\"f8/f3/c2/bd49ffe8be6d4f/0007661093000003.png\"}, {\"thumbnail\":\"42/54/35/98bcb83bf5339d/0007661093000004.png\",
        \"full\":\"5a/23/f2/b43574a379e611/0007661093000004.png\"}, {\"thumbnail\":\"fe/be/89/3679eb2b4f000d/0007661093000005.png\",
        \"full\":\"be/a2/43/482cd4bc759504/0007661093000005.png\"}, {\"thumbnail\":\"a8/9f/06/15ab5671b2a951/0007661093000006.png\",
        \"full\":\"fc/50/4f/efa86f9ab533e5/0007661093000006.png\"}, {\"thumbnail\":\"24/a6/6a/9551f9f95c0d9f/0007661093000007.png\",
        \"full\":\"55/46/64/2269d1273dfb3f/0007661093000007.png\"}], \"family_metadata\":{\"aggregated\":{\"country_status\":[{\"country_code\":\"US\",
        \"best_patent_stage\":{\"state\":\"ACTIVE\"}}, {\"country_code\":\"CN\", \"best_patent_stage\":{\"state\":\"ACTIVE\"}},
        {\"country_code\":\"JP\", \"best_patent_stage\":{\"state\":\"ACTIVE\"}}, {\"country_code\":\"DE\",
        \"best_patent_stage\":{\"state\":\"ACTIVE\"}}]}}}, \"is_similar_document\":false,
        \"entity_matches\":{\"additional\":0}, \"measure_matches\":{}}, {\"id\":\"patent/KR101479233B1/en\",
        \"rank\":1, \"patent\":{\"title\":\" How to control <b>robot</b> and its cooperative
        work\", \"snippet\":\" BACKGROUND OF THE INVENTION 1. Field of the Invention
        The present invention relates to a <b>robot</b> in which a plurality of <b>robot</b>
        manipulators perform coordinated work through impedance control and a method
        of controlling the cooperative work. To this end, the present invention comprises:
        cal[...]
