interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://patents.google.com/patent/US7654321B2/en
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <title>US7654321B2
        - Formation fluid sampling apparatus and methods \n        - Google Patents</title>\n\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"referrer\" content=\"origin-when-crossorigin\">\n
        \   <link rel=\"canonical\" href=\"https://patents.google.com/patent/US7654321B2/en\">\n
        \   <meta name=\"description\" content=\"\n     A fluid sampling system retrieves
        a formation fluid sample from a formation surrounding a wellbore extending
        along a wellbore axis, wherein the formation has a virgin fluid and a contaminated
        fluid therein. The system includes a sample inlet, a first guard inlet positioned
        adjacent to the sample inlet and spaced from the sample inl[...]
