interactions:
- request:
    body: '{"pagination":{"offset":0,"limit":5}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/trials/proceedings/search
  response:
    body:
      string: '{"count":5,"patentTrialProceedingDataBag":[{"trialNumber":"IPR2024-00100","trialTypeCode":"IPR","petitionFilingDate":"2024-01-15","institutionDecisionDate":"2024-06-15","applicationNumber":"14500001","patentNumber":"10111222"},{"trialNumber":"IPR2024-00101","trialTypeCode":"IPR","petitionFilingDate":"2024-01-20","applicationNumber":"14500002","patentNumber":"10333444"},{"trialNumber":"PGR2024-00010","trialTypeCode":"PGR","petitionFilingDate":"2024-02-01","applicationNumber":"16700001","patentNumber":"11555666"},{"trialNumber":"IPR2024-00102","trialTypeCode":"IPR","petitionFilingDate":"2024-02-10","applicationNumber":"14500003","patentNumber":"10777888"},{"trialNumber":"IPR2024-00103","trialTypeCode":"IPR","petitionFilingDate":"2024-02-15","applicationNumber":"15600001","patentNumber":"10999000"}],"requestIdentifier":"req-ptab-001"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
