interactions:
- request:
    body: '{"q":"software","pagination":{"offset":0,"limit":3}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/appeals/decisions/search
  response:
    body:
      string: "{\"count\":14216,\"requestIdentifier\":\"453424dd-4cdb-470d-b22b-a82ec37f143a\",\"patentAppealDataBag\":[{\"appealNumber\":\"2026000472\",\"appealDocumentCategory\":\"Decision\",\"lastModifiedDateTime\":\"2026-02-27T00:32:36\",\"appealMetaData\":{\"appealFilingDate\":\"2025-11-24\",\"appealLastModifiedDateTime\":\"2026-02-26T16:09:57\",\"appealLastModifiedDate\":\"2026-02-26\",\"applicationTypeCategory\":\"REEXAM\",\"fileDownloadURI\":\"https://api.uspto.gov/api/v1/patent/ptab-files/APP/2026/000472/2026000472.zip\"},\"appellantData\":{\"applicationNumberText\":\"90019287\",\"counselName\":\"Greenberg
        Traurig, LLP\",\"groupArtUnitNumber\":\"3992\",\"inventorName\":\"M. 7782309\",\"realPartyInInterestName\":\"UNIVERSAL
        ELECTRONICS, INC.(OWNER) Organization et al.\",\"patentOwnerName\":\"Janik,Craig,M.
        et al\",\"technologyCenterNumber\":\"3900\"},\"documentData\":{\"documentFilingDate\":\"2026-02-26\",\"documentIdentifier\":\"0c226cb6-989b-4c24-8bc8-fdc68f7be1b6\",\"documentName\":\"Decision_2026000472_02-26-2026.pdf\",\"documentSizeQuantity\":217527,\"documentOCRText\":\"Appellant
        next urges that incorporating the processing <b><span style='background-color:
        yellow;'>software</span></b> of \\n\\nZetts, which operates on the principle
        of using a delay timer to distinguish \\n\\nbetween moving input types, into
        the processing <b><span style='background-color: yellow;'>software</span></b>
        of Herz would \\n\\nhave \u201Cno expectation of success,\u201D and that the
        processing <b><span style='background-color: yellow;'>software</span></b>
        of Zetts \\n\\nwould be inoperable if incorporated into the \u201Ctimer-less\u201D
        device of Herz. \\n\\nAppeal Br. 9\u201310.\",\"documentTypeDescriptionText\":\"Paper\",\"fileDownloadURI\":\"https://api.uspto.gov/api/v1/patent/ptab-files/APP/2026/000472/0c226cb6-989b-4c24-8bc8-fdc68f7be1b6.pdf\"},\"decisionData\":{\"appealOutcomeCategory\":\"Affirmed\",\"statuteAndRuleBag\":[\"35
        USC 134\"],\"decisionIssueDate\":\"2026-02-26\",\"decisionTypeCategory\":\"Decision\",\"issueTypeBag\":[\"103\"]}},{\"appealNumber\":\"2026000250\",\"appealDocumentCategory\":\"Decision\",\"lastModifiedDateTime\":\"2026-02-26T10:59:15\",\"appealMetaData\":{\"appealFilingDate\":\"2025-10-30\",\"appealLastModifiedDateTime\":\"2026-01-02T15:10:09\",\"appealLastModifiedDate\":\"2026-01-02\",\"applicationTypeCategory\":\"REISSUE\",\"fileDownloadURI\":\"https://api.uspto.gov/api/v1/patent/ptab-files/APP/2026/000250/2026000250.zip\"},\"appellantData\":{\"applicationNumberText\":\"16833447\",\"counselName\":\"Arent
        Fox LLP and Divergent Technologies Inc.\",\"groupArtUnitNumber\":\"3992\",\"inventorName\":\"Kevin
        Robert Czinger\",\"realPartyInInterestName\":\"DIVERGENT TECHNOLOGIES, INC.\",\"patentNumber\":\"\",\"patentOwnerName\":\"DIVERGENT
        TECHNOLOGIES, INC.\",\"technologyCenterNumber\":\"3900\"},\"documentData\":{\"documentFilingDate\":\"2026-01-02\",\"documentIdentifier\":\"6fff1d16-8f56-4ec6-9fd9-ccc60df6922e\",\"documentName\":\"Decision_2026000250_01-02-2026.pdf\",\"documentSizeQuantity\":182000,\"documentOCRText\":\"\u201CApplicant
        has also addressed the Examiner\u2019s second concern, \\n\\nnamely that \u2018the
        problem occurs when the claim goes the other path an[...]
