interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uspto.gov/api/v1/datasets/products/PTFWPRE
  response:
    body:
      string: '{"count":1,"bulkDataProductBag":[{"productIdentifier":"PTFWPRE","productDescriptionText":"Bibliographic
        and assignments static patent data compiled into file sets. The Weekly Datasets
        (10-year increments) can be downloaded in bulk.","productTitleText":"Patent
        File Wrapper (Bulk Datasets) - Weekly","productFrequencyText":"WEEKLY","daysOfWeekText":"SUNDAY","productLabelArrayText":["Patent"],"productDatasetArrayText":["Research"],"productDatasetCategoryArrayText":["Patent
        file wrapper"],"productFromDate":"2001-01-01","productToDate":"2026-12-31","productTotalFileSize":62592750657,"productFileTotalQuantity":3,"lastModifiedDateTime":"2026-03-02
        01:12:06","mimeTypeIdentifierArrayText":["JSON"],"productFileBag":{"count":3,"fileDataBag":[{"fileName":"2011-2020-patent-filewrapper-full-json-20260301.zip","fileSize":29947844234,"fileDataFromDate":"2011-01-01","fileDataToDate":"2020-12-31","fileTypeText":"Data","fileDownloadURI":"https://api.uspto.gov/api/v1/datasets/products/files/PTFWPRE/2011-2020-patent-filewrapper-full-json-20260301.zip","fileReleaseDate":"2026-03-02
        01:12:06","fileDate":"2026-03-01 00:00:00","fileLastModifiedDateTime":"2026-03-04
        01:31:51"},{"fileName":"2001-2010-patent-filewrapper-full-json-20260301.zip","fileSize":19622718032,"fileDataFromDate":"2001-01-01","fileDataToDate":"2010-12-31","fileTypeText":"Data","fileDownloadURI":"https://api.uspto.gov/api/v1/datasets/products/files/PTFWPRE/2001-2010-patent-filewrapper-full-json-20260301.zip","fileReleaseDate":"2026-03-02
        01:00:37","fileDate":"2026-03-01 00:00:00","fileLastModifiedDateTime":"2026-03-04
        01:19:28"},{"fileName":"2021-2026-patent-filewrapper-full-json-20260301.zip","fileSize":13022188391,"fileDataFromDate":"2021-01-01","fileDataToDate":"2026-12-31","fileTypeText":"Data","fileDownloadURI":"https://api.uspto.gov/api/v1/datasets/products/files/PTFWPRE/2021-2026-patent-filewrapper-full-json-20260301.zip","fileReleaseDate":"2026-03-02
        00:45:01","fileDate":"2026-03-01 00:00:00","fileLastModifiedDateTime":"2026-03-04
        00:57:47"}]}}]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ZwuzoFmqoAMFxsA=
      x-amzn-RequestId:
      - 76876f86-84c9-4692-ac7e-ba53262fcae0
    status:
      code: 200
      message: OK
version: 1
