interactions:
- request:
    body: '{"pagination":{"offset":0,"limit":5}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/trials/decisions/search
  response:
    body:
      string: "{\"count\":20149,\"requestIdentifier\":\"8df98b6f-d0bd-42c4-b94c-ba11758db995\",\"patentTrialDocumentDataBag\":[{\"trialNumber\":\"IPR2024-01309\",\"lastModifiedDateTime\":\"2026-03-04T18:56:35\",\"trialDocumentCategory\":\"Decision\",\"trialMetaData\":{\"institutionDecisionDate\":\"2025-03-06\",\"accordedFilingDate\":\"2024-08-22\",\"petitionFilingDate\":\"2024-08-22\",\"trialLastModifiedDateTime\":\"2026-03-04T09:38:07\",\"trialLastModifiedDate\":\"2026-03-04\",\"terminationDate\":\"2026-03-04\",\"trialStatusCategory\":\"Final
        Written Decision\",\"latestDecisionDate\":\"2026-03-04\",\"trialTypeCode\":\"IPR\"},\"patentOwnerData\":{\"applicationNumberText\":\"16267887\",\"counselName\":\"Cochran,
        Andrewet al\",\"grantDate\":\"2019-09-24\",\"groupArtUnitNumber\":\"2457\",\"inventorName\":\"Kevin
        April et al\",\"realPartyInInterestName\":\"SportsCastr Inc.\",\"patentNumber\":\"10425697\",\"technologyCenterNumber\":\"2400\"},\"regularPetitionerData\":{\"counselName\":\"Baker,
        W.et al\",\"realPartyInInterestName\":\"Genius Sports Ltd.\"},\"documentData\":{\"documentCategory\":\"FINAL\",\"documentFilingDate\":\"2026-03-04\",\"documentIdentifier\":\"171303336\",\"documentName\":\"IPR2024-01309
        FWD.pdf\",\"documentNumber\":46,\"documentSizeQuantity\":1008111,\"documentTitleText\":\"JUDGMENT
        Final Written Decision Determining All Challenged Claims Unpatentable  Denying
        Petitioner\u2019s Motion to Exclude 35 U.S.C. \xA7 318(a); 37 C.F.R. \xA7
        42.64(c)\",\"documentTypeDescriptionText\":\"Final Written Decision:  original\",\"fileDownloadURI\":\"https://api.uspto.gov/api/v1/patent/ptab-files/IPR/2024/01309/171303336.pdf\",\"filingPartyCategory\":\"BOARD\",\"documentOCRText\":\"Trials@uspto.gov
        \ Paper 46 \\n571-272-7822 Date: March 4, 2026 \\n \\n  \\n\\nUNITED STATES
        PATENT AND TRADEMARK OFFICE \\n_______________ \\n\\nBEFORE THE PATENT TRIAL
        AND APPEAL BOARD \\n_______________ \\n\\nGENIUS SPORTS LTD., \\nPetitioner,
        \\n\\nv. \\n\\nSPORTSCASTR INC. d/b/a PANDA INTERACTIVE, \\nPatent Owner.
        \\n\\n_______________ \\n \\n\\nIPR2024-01309 \\nPatent 10,425,697 B2 \\n\\n_______________
        \\n \\n \\n\\nBefore THU A. DANG, JON M. JURGOVAN, and  \\nSTEPHEN E. BELISLE,
        Administrative Patent Judges.  \\n \\nDANG, Administrative Patent Jud ...\"},\"decisionData\":{\"statuteAndRuleBag\":[\"37
        CFR 42.100\",\"37 CFR 42.104\",\"35 USC 318\"],\"decisionIssueDate\":\"2026-03-04\",\"decisionTypeCategory\":\"Decision\",\"issueTypeBag\":[\"112\",\"103\"],\"trialOutcomeCategory\":\"Final
        Written Decision\"}},{\"trialNumber\":\"IPR2025-01467\",\"lastModifiedDateTime\":\"2026-03-04T20:57:01\",\"trialDocumentCategory\":\"Decision\",\"trialMetaData\":{\"accordedFilingDate\":\"2025-09-09\",\"petitionFilingDate\":\"2025-09-09\",\"trialLastModifiedDateTime\":\"2026-03-04T12:25:53\",\"trialLastModifiedDate\":\"2026-03-04\",\"terminationDate\":\"2026-03-04\",\"trialStatusCategory\":\"Terminated\",\"latestDecisionDate\":\"2026-03-04\",\"trialTypeCode\":\"IPR\"},\"patentOwnerData\":{\"applicationNumberText\":\"16543293\",\"counselName\":\"Hwang,
        Rexet al\",\"grantDate\":\"2021-11-30\",\"groupArtUnitNumber\":\"2667\",\"inventorName\":\"Michael
        F. Malone\",\"realPartyInInterestName\":\"MyPort Technologies, Inc.\",\"patentNumber\":\"11188998\",\"technologyCenterNumber\":\"2600\"},\"regularPetitionerData\":{\"counselName\":\"Jarratt,
        Scottet al\",\"realPartyInInterestName\":\"Apple Inc.\"},\"documentData\":{\"documentCategory\":\"TERMINATE\",\"documentFilingDate\":\"2026-03-04\",\"documentIdentifier\":\"171303380\",\"documentName\":\"IPR2025-01467
        - Termination Order Pre-Institution draft - Copy.pdf\",\"documentNumber\":9,\"documentSizeQuantity\":90071,\"documentTitleText\":\"Termination
        Decision:  Dismissal Prior to Institution of Trial 35 U.S.C. sec. 314\",\"documentTypeDescriptionText\":\"Termination
        Decision:  Pre-DI dismissal\",\"fileDownloadURI\":\"https://api.uspto.gov/api/v1/patent/ptab-files/IPR/2025/01467/171303380.pdf\",\"filingPartyCategory\":\"BOARD\",\"documentOCRText\":\"Trials@uspto.gov
        Paper 9 \\n571-272-7822 Date: March 4, 2026  \\n\\n \\n\\nUNITED STATES PATENT
        AND TRADEMARK OFFICE \\n \\n\\nBEFORE THE PATENT TRIAL AND APPEAL BOARD \\n
        \[...]
