interactions:
- request:
    body: '{"q":"revival","pagination":{"offset":0,"limit":3}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/petition/decisions/search
  response:
    body:
      string: '{"count":25,"requestIdentifier":"b3da433a-b045-4435-acb4-a14096edc942","petitionDecisionDataBag":[{"actionTakenByCourtName":"","applicationNumberText":"09761661","businessEntityStatusCategory":"Regular
        Undiscounted","courtActionIndicator":false,"decisionDate":"2005-09-22","decisionPetitionTypeCode":502,"decisionTypeCode":"C","decisionTypeCodeDescriptionText":"DENIED","finalDecidingOfficeName":"OFFICE
        OF PETITIONS","firstInventorToFileIndicator":false,"groupArtUnitNumber":"1764","inventionTitle":"Catalytic
        reactor","inventorBag":["Patrick Bachinger","Stefan Boneberg","Dietmar Heil","Berthold
        Keppeler","Michael Schonert"],"lastIngestionDateTime":"2026-03-02T15:05:05","petitionDecisionRecordIdentifier":"ae65651d-c489-5913-ac99-2825876784d8","petitionIssueConsideredTextBag":["Revival
        of an abandoned application"],"petitionMailDate":"2005-04-20","prosecutionStatusCode":161,"prosecutionStatusCodeDescriptionText":"Abandoned","ruleBag":["37
        CFR 1.137(b)"],"statuteBag":["35 USC 41(a)(7)"],"technologyCenter":"1700"},{"actionTakenByCourtName":"","applicationNumberText":"12205838","businessEntityStatusCategory":"Regular
        Undiscounted","courtActionIndicator":false,"customerNumber":29335,"decisionDate":"2011-11-28","decisionPetitionTypeCode":502,"decisionTypeCode":"C","decisionTypeCodeDescriptionText":"DENIED","finalDecidingOfficeName":"OFFICE
        OF PETITIONS","firstInventorToFileIndicator":false,"groupArtUnitNumber":"3763","inventionTitle":"MEDICAL
        DEVICE INCLUDING A THIN METALLIC FILM COMPONENT ATTACHED TO A POLYMERIC COMPONENT
        AND ASSOCIATED METHODS","inventorBag":["Regina VELASCO","Craig BONSIGNORE"],"lastIngestionDateTime":"2026-03-02T15:05:05","petitionDecisionRecordIdentifier":"42f4a71f-1af5-5387-9424-531f00b42020","petitionIssueConsideredTextBag":["Revival
        of an abandoned application"],"petitionMailDate":"2011-10-10","prosecutionStatusCode":168,"prosecutionStatusCodeDescriptionText":"Abandoned","ruleBag":["37
        CFR 1.2","37 CFR 1.137(b)","37 CFR 1.138"],"statuteBag":["35 USC 2(b)(2)","35
        USC 41(a)(7)"],"technologyCenter":"3700"},{"actionTakenByCourtName":"District
        Court","applicationNumberText":"10054328","businessEntityStatusCategory":"Small","courtActionIndicator":true,"customerNumber":23117,"decisionDate":"2009-04-01","decisionPetitionTypeCode":501,"decisionTypeCode":"C","decisionTypeCodeDescriptionText":"DENIED","finalDecidingOfficeName":"OFFICE
        OF PETITIONS","firstInventorToFileIndicator":false,"groupArtUnitNumber":"1731","inventionTitle":"FLUOROPHOSPHATE
        GLASS AND METHOD FOR MAKING THEREOF","inventorBag":["Alfred A. Margaryan"],"lastIngestionDateTime":"2026-03-02T15:05:05","patentNumber":"7989376","petitionDecisionRecordIdentifier":"83cb3e38-0edd-56df-beff-70c91ff5e1c8","petitionIssueConsideredTextBag":["Revival
        of an abandoned application: Unavoidable"],"petitionMailDate":"2009-02-17","prosecutionStatusCode":161,"prosecutionStatusCodeDescriptionText":"Abandoned","ruleBag":["37
        CFR 1.137(a)","37 CFR 1.113","37 CFR 1.116","37 CFR 1.135"],"statuteBag":["35
        USC 133"],"technologyCenter":"1700"}]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Zwu06FDPIAMFzkA=
      x-amzn-RequestId:
      - b3da433a-b045-4435-acb4-a14096edc942
    status:
      code: 200
      message: OK
version: 1
