interactions:
- request:
    body: '{"pagination":{"offset":0,"limit":1}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/interferences/decisions/search
  response:
    body:
      string: "{\"count\":1812,\"requestIdentifier\":\"e00f873c-2621-452c-9ffb-61686c6c5289\",\"patentInterferenceDataBag\":[{\"interferenceNumber\":\"106130\",\"lastModifiedDateTime\":\"2025-12-12T17:18:56\",\"additionalPartyDataBag\":[{\"applicationNumberText\":\"16159021\",\"inventorName\":\"Lee
        M Kaplan et al\",\"patentNumber\":\"\",\"additionalPartyName\":\"LEE M. KAPLAN,
        ALICE P. LIOU, PETER J. TURNBAUGH, and JASON L. HARRIS\"},{\"applicationNumberText\":\"15698965\",\"inventorName\":\"Lee
        M Kaplan et al\",\"patentNumber\":\"10149870\",\"additionalPartyName\":\"LEE
        M. KAPLAN, ALICE P. LIOU, PETER J. TURNBAUGH, and JASON L. HARRIS\"},{\"applicationNumberText\":\"16669143\",\"inventorName\":\"Lee
        M Kaplan et al\",\"patentNumber\":\"10729732\",\"additionalPartyName\":\"LEE
        M. KAPLAN, ALICE P. LIOU, PETER J. TURNBAUGH, and JASON L. HARRIS\"}],\"interferenceMetaData\":{\"interferenceLastModifiedDateTime\":\"2025-11-13T00:00:00\",\"interferenceLastModifiedDate\":\"2025-11-13\",\"declarationDate\":\"2021-01-26\",\"interferenceStyleName\":\"LEE
        M. KAPLAN, ALICE P. LIOU, PETER J. TURNBAUGH, and JASON L. HARRIS v. PATRICE
        CANI, AMANDINE EVERARD, CLARA BELZER, and WILLEM DE VOS\",\"fileDownloadURI\":\"https://api.uspto.gov/api/v1/patent/ptab-files/INTF/106130/106130.zip\"},\"seniorPartyData\":{\"applicationNumberText\":\"14443829\",\"counselName\":\"ALSTON
        & BIRD and GEMINI LAW LLP \",\"groupArtUnitNumber\":\"1651\",\"inventorName\":\"Patrice
        Cani et al\",\"patentOwnerName\":\"CANI, PATRICE; EVERARD, Amandine; BELZER,
        Clara; DE VOS Willem\",\"publicationDate\":\"2015-10-29\",\"publicationNumber\":\"US20150306152A1\",\"realPartyInInterestName\":\"UNIVERSIT\xC9
        CATHOLIQUE DE LOUVAIN; WAGENINGEN UNIVERSITEIT\",\"technologyCenterNumber\":\"1600\"},\"juniorPartyData\":{\"applicationNumberText\":\"14862663\",\"counselName\":\"ROTHWELL,
        FIGG, ERNST & MANBECK, P.C. and LATHROP GAGE LLP\",\"grantDate\":\"2018-12-11\",\"groupArtUnitNumber\":\"1651\",\"inventorName\":\"Lee
        M. Kaplan et al\",\"patentNumber\":\"10149867\",\"publicationDate\":\"2016-04-28\",\"publicationNumber\":\"US20160113971A1\",\"realPartyInInterestName\":\"Ethicon
        Endo-Surgery, Inc.; The General Hospital Corporation D/B/A Massachusetts General
        Hospital; President and Fellows of Harvard College \",\"technologyCenterNumber\":\"1600\"},\"documentData\":{\"documentIdentifier\":\"229ba0b8d5f70d2e45cc36b79476f56f3faf51bd26c7ccc977208e7b\",\"documentName\":\"106130_106130-jd-20250128.pdf\",\"documentSizeQuantity\":97923,\"documentOCRText\":\"Microsoft
        Word - 106,130 Judgment (to be mailed)\\n\\n\\n       \\nTrials@uspto.gov
        \      Filed: January 28, 2025 \\nTel: 571-272-7822 \\n \\n\\nUNITED STATES
        PATENT AND TRADEMARK OFFICE \\n_______________ \\n\\n \\nBEFORE THE PATENT
        TRIAL AND APPEAL BOARD \\n\\n \\n________________ \\n\\n  \\nLEE M. KAPLAN,
        \ \\n\\nALICE P. LIOU, PETER J. TURNBAUGH, and JASON L. HARRIS,  \\n \\n\\nJunior
        Party  \\n(Patents 10,149,867; 10,149,870; and 10,729,732; \\n\\nand Application
        16/159,021),  \\n \\n\\nv.  \\n \\n\\nPATRICE CANI,  \\nAMANDINE EVERARD,
        CLARA BELZER, an ...\",\"documentTitleText\":\"Judgment 37 C.F.R. \xA7 41.127(a)\",\"interferenceOutcomeCategory\":\"Judgment\",\"statuteAndRuleBag\":[\"37
        CFR 41.127(a)\"],\"decisionIssueDate\":\"2025-01-28\",\"decisionTypeCategory\":\"Decision\",\"fileDownloadURI\":\"https://api.uspto.gov/api/v1/patent/ptab-files/INTF/106130/Intf508_10613014862663_1738040400000.pdf\",\"documentFilingDate\":\"2025-01-28\"}}]}"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ZwuzLHfRoAMFfNg=
      x-amzn-RequestId:
      - e00f873c-2621-452c-9ffb-61686c6c5289
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uspto.gov/api/v1/patent/interferences/decisions/229ba0b8d5f70d2e45cc36b79476f56f3faf51bd26c7ccc977208e7b
  response:
    body:
      string: "{\"count\":1,\"requestIdentifier\":\"8957d500-9e2a-4018-870a-c566554ac999\",\"patentInterferenceDataBag\":[{\"interferenceNumber\":\"106130\",\"lastModifiedDateTime\":\"2025-12-12T17:18:56\",\"additionalPartyDataBag\":[{\"applicationNumberText\":\"16159021\",\"inventorName\":\"Lee
  [...]
