interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uspto.gov/api/v1/patent/applications/16123456/assignment
  response:
    body:
      string: '{"count":1,"patentFileWrapperDataBag":[{"assignmentBag":[{"assignmentDocumentLocationURI":"https://assignmentcenter.uspto.gov/ipas/search/api/v2/public/download/patent/46816/108","assignmentReceivedDate":"2018-09-07","reelAndFrameNumber":"046816/0108","frameNumber":108,"assignmentRecordedDate":"2018-09-07","conveyanceText":"ASSIGNMENT
        OF ASSIGNOR''S INTEREST","imageAvailableStatusCode":true,"assigneeBag":[{"assigneeAddress":{"cityName":"TOKYO","countryOrStateCode":"JPX","postalCode":"106-8620","ictCountryCode":"JP","countryName":"JAPAN","addressLineOneText":"26-30,
        NISHIAZABU 2-CHOME, MINATO-KU"},"assigneeNameText":"FUJIFILM CORPORATION"}],"assignmentMailedDate":"2018-09-10","reelNumber":46816,"correspondenceAddress":{"addressLineOneText":"8110
        GATEHOUSE ROAD, SUITE 100E","correspondentNameText":"BIRCH, STEWART, KOLASCH
        & BIRCH, LLP","addressLineTwoText":"FALLS CHURCH, VA 22042"},"assignorBag":[{"executionDate":"2018-07-11","assignorName":"KANADA,
        SHOJI"}],"pageTotalQuantity":3,"attorneyDocketNumber":"1982-1042PUS1"}],"applicationNumberText":"16123456"}],"requestIdentifier":"699a8014-cbd7-489b-82ec-79358c401060"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ZwuvmFZ3oAMFzkA=
      x-amzn-RequestId:
      - 699a8014-cbd7-489b-82ec-79358c401060
    status:
      code: 200
      message: OK
version: 1
