interactions:
- request:
    body: '{"pagination":{"limit":3}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/appeals/decisions/search/download
  response:
    body:
      string: '{"patentTrialData":[{"decisionData":{"decisionTypeCategory":"Decision","appealOutcomeCategory":"Reversed","decisionIssueDate":"2026-01-08"},"appealNumber":"2026000539","appellantData":{"realPartyInInterestName":"THE
        REGENTS OF THE UNIVERSITY OF CALIFORNIA","technologyCenterNumber":"1700","applicationNumberText":"18206307"}},{"decisionData":{"decisionTypeCategory":"Decision","appealOutcomeCategory":"Affirmed","decisionIssueDate":"2026-02-26"},"appealNumber":"2026000472","appellantData":{"realPartyInInterestName":"UNIVERSAL
        ELECTRONICS, INC.(OWNER) Organization et al.","technologyCenterNumber":"3900","applicationNumberText":"90019287"}},{"decisionData":{"decisionTypeCategory":"Decision","appealOutcomeCategory":"Affirmed","decisionIssueDate":"2026-02-24"},"appealNumber":"2026000275","appellantData":{"realPartyInInterestName":"Outdoor
        Wireless Networks LLC","technologyCenterNumber":"3900","applicationNumberText":"18632750"}}]}'
    headers:
      Content-Type:
      - application/json
      content-disposition:
      - attachment;filename="results-2026-03-05T18-00-56.json"
      x-amz-apigw-id:
      - Zwux5EluIAMFYrw=
      x-amzn-RequestId:
      - dbe23c61-5714-42ff-a198-1b03925a02fa
    status:
      code: 200
      message: OK
version: 1
