interactions:
- request:
    body: '{"pagination":{"limit":3}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/petition/decisions/search/download
  response:
    body:
      string: '{"petitionDecisionData":[{"petitionDecisionRecordIdentifier":"0b71b685-adb9-539d-8257-127dc9e58247","petitionMailDate":"2003-08-04","technologyCenter":"3700","finalDecidingOfficeName":"OFFICE
        OF PETITIONS","decisionPetitionTypeCode":411,"petitionIssueConsideredTextBag":["Filing
        date"],"patentNumber":"6796905","decisionTypeCodeDescriptionText":"DENIED","decisionDate":"2003-10-17"},{"petitionDecisionRecordIdentifier":"eafa727a-354d-534f-b6aa-a4b366afbb28","petitionMailDate":"2011-09-30","technologyCenter":"1700","finalDecidingOfficeName":"OFFICE
        OF PETITIONS","decisionPetitionTypeCode":525,"petitionIssueConsideredTextBag":["Withdrawal
        of abandonment"],"decisionTypeCodeDescriptionText":"DENIED","decisionDate":"2012-03-26"},{"petitionDecisionRecordIdentifier":"db571d2a-0f41-5f20-8ab4-9cc16f96a2b6","petitionMailDate":"2006-04-17","technologyCenter":"2800","finalDecidingOfficeName":"OFFICE
        OF PETITIONS","decisionPetitionTypeCode":515,"petitionIssueConsideredTextBag":["Supervisory
        review of non-examining matter","Refund"],"patentNumber":"7061177","decisionTypeCodeDescriptionText":"DENIED","decisionDate":"2006-10-17"}]}'
    headers:
      Content-Type:
      - application/json
      content-disposition:
      - attachment;filename="results-2026-03-05T18-01-15.json"
      x-amz-apigw-id:
      - Zwu01FoeIAMF4Iw=
      x-amzn-RequestId:
      - 8d05c9cd-fb33-44ed-b073-5520028ab7af
    status:
      code: 200
      message: OK
version: 1
