interactions:
- request:
    body: '{"pagination":{"offset":0,"limit":3}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/petition/decisions/search
  response:
    body:
      string: '{"count":3,"petitionDecisionDataBag":[{"petitionDecisionRecordIdentifier":"PD-2024-010","applicationNumberText":"16400001","petitionTypeCategory":"Revival","petitionDecisionCategory":"Granted","petitionDecisionDate":"2024-03-01"},{"petitionDecisionRecordIdentifier":"PD-2024-011","applicationNumberText":"16400002","petitionTypeCategory":"Extension of Time","petitionDecisionCategory":"Granted","petitionDecisionDate":"2024-03-05"},{"petitionDecisionRecordIdentifier":"PD-2024-012","applicationNumberText":"16400003","petitionTypeCategory":"Make Special","petitionDecisionCategory":"Dismissed","petitionDecisionDate":"2024-03-10"}],"requestIdentifier":"req-pet-002"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
