interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uspto.gov/api/v1/patent/trials/proceedings/IPR2021-00001
  response:
    body:
      string: '{"count":1,"requestIdentifier":"e612ab8e-09d6-4ff7-b7a1-4df520f77a15","patentTrialProceedingDataBag":[{"lastModifiedDateTime":"2025-12-12T17:01:43","patentOwnerData":{"patentNumber":"6819092","grantDate":"2004-11-16","realPartyInInterestName":"NXP
        B.V. et al.","technologyCenterNumber":"2800","groupArtUnitNumber":"2838","applicationNumberText":"10264899","inventorName":"Ernst
        Bretschneider","counselName":"Witcoff, David et al"},"trialMetaData":{"accordedFilingDate":"2020-10-05","terminationDate":"2022-05-02","trialTypeCode":"IPR","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/IPR/2021/00001/IPR2021-00001.zip","institutionDecisionDate":"2021-05-06","trialStatusCategory":"Final
        Written Decision","trialLastModifiedDate":"2022-07-29","petitionFilingDate":"2020-10-05","trialLastModifiedDateTime":"2022-07-29T13:50:39"},"trialNumber":"IPR2021-00001","regularPetitionerData":{"realPartyInInterestName":"Impinj,
        Inc.","counselName":"McCullough, Christina "}}]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ZwuwqEVlIAMFVew=
      x-amzn-RequestId:
      - e612ab8e-09d6-4ff7-b7a1-4df520f77a15
    status:
      code: 200
      message: OK
version: 1
