interactions:
- request:
    body: '{"pagination":{"offset":0,"limit":1}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/petition/decisions/search
  response:
    body:
      string: '{"count":7334,"requestIdentifier":"80761dc0-fecf-4ad9-8b86-9a65eab84e1e","petitionDecisionDataBag":[{"actionTakenByCourtName":"","applicationNumberText":"10290800","businessEntityStatusCategory":"Regular
        Undiscounted","courtActionIndicator":false,"customerNumber":29159,"decisionDate":"2003-10-17","decisionPetitionTypeCode":411,"decisionTypeCode":"C","decisionTypeCodeDescriptionText":"DENIED","finalDecidingOfficeName":"OFFICE
        OF PETITIONS","firstInventorToFileIndicator":false,"groupArtUnitNumber":"3713","inventionTitle":"GAMING
        DEVICE HAVING IMPROVED AWARD OFFER BONUS SCHEME","inventorBag":["Anthony J.
        Baerlocher","Joseph E. Kaminkow","Gregg J. Palmer"],"lastIngestionDateTime":"2026-03-02T15:05:05","patentNumber":"6796905","petitionDecisionRecordIdentifier":"0b71b685-adb9-539d-8257-127dc9e58247","petitionIssueConsideredTextBag":["Filing
        date"],"petitionMailDate":"2003-08-04","prosecutionStatusCode":30,"prosecutionStatusCodeDescriptionText":"Prior
        to examination","ruleBag":["37 CFR 1.10"],"statuteBag":["35 USC 21(a)"],"technologyCenter":"3700"}]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Zwuz3GsRIAMFh_Q=
      x-amzn-RequestId:
      - 80761dc0-fecf-4ad9-8b86-9a65eab84e1e
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uspto.gov/api/v1/petition/decisions/0b71b685-adb9-539d-8257-127dc9e58247
  response:
    body:
      string: '{"count":1,"requestIdentifier":"21626642-95c3-42c1-80aa-21e88e3d2df3","petitionDecisionDataBag":[{"actionTakenByCourtName":"","applicationNumberText":"10290800","businessEntityStatusCategory":"Regular
        Undiscounted","courtActionIndicator":false,"customerNumber":29159,"decisionDate":"2003-10-17","decisionPeti[...]
