interactions:
- request:
    body: '{"pagination":{"limit":3}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/trials/proceedings/search/download
  response:
    body:
      string: '{"patentTrialData":[{"patentOwnerData":{"patentNumber":"10200654","technologyCenterNumber":"2600","applicationNumberText":"13778430"},"trialMetaData":{"trialStatusCategory":"Pending","petitionFilingDate":"2026-03-04"},"trialNumber":"IPR2026-00266"},{"patentOwnerData":{"patentNumber":"12349941","technologyCenterNumber":"3700","applicationNumberText":"18615875"},"trialMetaData":{"trialStatusCategory":"Pending","petitionFilingDate":"2026-03-03"},"trialNumber":"PGR2026-00031"},{"patentOwnerData":{"patentNumber":"10603183","technologyCenterNumber":"3700","applicationNumberText":"16100410"},"trialMetaData":{"trialStatusCategory":"Pending","petitionFilingDate":"2026-03-02"},"trialNumber":"IPR2026-00285"}]}'
    headers:
      Content-Type:
      - application/json
      content-disposition:
      - attachment;filename="results-2026-03-05T18-00-50.json"
      x-amz-apigw-id:
      - ZwuxBGEDIAMFmZw=
      x-amzn-RequestId:
      - d05d4d37-2d35-4570-8e15-1c19a0e622d9
    status:
      code: 200
      message: OK
version: 1
