interactions:
- request:
    body: '{"pagination":{"offset":0,"limit":5}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/patent/trials/documents/search
  response:
    body:
      string: '{"count":1503698,"requestIdentifier":"346c92e1-9d52-42bb-8e01-b23c49fca4be","patentTrialDocumentDataBag":[{"trialNumber":"IPR2025-01111","lastModifiedDateTime":"2026-03-05T10:55:29","trialDocumentCategory":"Document","trialMetaData":{"institutionDecisionDate":"2025-12-19","accordedFilingDate":"2025-06-09","petitionFilingDate":"2025-06-09","trialLastModifiedDateTime":"2026-03-05T03:46:54","trialLastModifiedDate":"2026-03-05","trialStatusCategory":"Trial
        Instituted","latestDecisionDate":"2025-12-19","trialTypeCode":"IPR"},"patentOwnerData":{"applicationNumberText":"16377829","counselName":"Mirzaie,
        Rezaet al","grantDate":"2021-02-02","groupArtUnitNumber":"2467","inventorName":"Woojin
        AHN et al","realPartyInInterestName":"Wilus Institute of Standards and Technology
        Inc.","patentNumber":"10911186","technologyCenterNumber":"2400"},"regularPetitionerData":{"counselName":"Renner,
        W. Karlet al","realPartyInInterestName":"Samsung Electronics Co., Ltd. et
        al."},"documentData":{"documentCategory":"NOTICE","documentFilingDate":"2026-03-05","documentIdentifier":"171304134","documentName":"IPR2025-01111
        - Paper 17 - Patent Owners Updated Mandatory Notices.pdf","documentNumber":17,"documentSizeQuantity":93900,"documentTitleText":"Patent
        Owner''s Updated Mandatory Notices","documentTypeDescriptionText":"Notice:  Updated
        Mandatory Notice","fileDownloadURI":"https://api.uspto.gov/api/v1/patent/ptab-files/IPR/2025/01111/171304134.pdf","filingPartyCategory":"PATENT
        OWNER"}},{"trialNumber":"IPR2025-01110","lastModifiedDateTime":"2026-03-05T10:55:29","trialDocumentCategory":"Document","trialMetaData":{"institutionDecisionDate":"2025-12-19","accordedFilingDate":"2025-06-09","petitionFilingDate":"2025-06-09","trialLastModifiedDateTime":"2026-03-05T03:46:51","trialLastModifiedDate":"2026-03-05","trialStatusCategory":"Trial
        Instituted","latestDecisionDate":"2025-12-19","trialTypeCode":"IPR"},"patentOwnerData":{"applicationNumberText":"171[...]
