interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uspto.gov/api/v1/datasets/products/search?limit=3&offset=0&q=patent
  response:
    body:
      string: "{\"count\":3,\"bulkDataProductBag\":[{\"productIdentifier\":\"PTFWPRD\",\"productDescriptionText\":\"Bibliographic
        and assignments static patent data compiled into file sets. The Delta Datasets
        (daily increments) can be downloaded in bulk.\",\"productTitleText\":\"Patent
        File Wrapper (Bulk Datasets) - Daily\",\"productFrequencyText\":\"DAILY\",\"productLabelArrayText\":[\"Patent\"],\"productDatasetArrayText\":[\"Research\"],\"productDatasetCategoryArrayText\":[\"Patent
        file wrapper\"],\"productFromDate\":\"2026-02-26\",\"productToDate\":\"2026-03-04\",\"productTotalFileSize\":2137760572,\"productFileTotalQuantity\":7,\"lastModifiedDateTime\":\"2026-03-05
        00:13:45\",\"mimeTypeIdentifierArrayText\":[\"JSON\"]},{\"productIdentifier\":\"PTFWPRE\",\"productDescriptionText\":\"Bibliographic
        and assignments static patent data compiled into file sets. The Weekly Datasets
        (10-year increments) can be downloaded in bulk.\",\"productTitleText\":\"Patent
        File Wrapper (Bulk Datasets) - Weekly\",\"productFrequencyText\":\"WEEKLY\",\"daysOfWeekText\":\"SUNDAY\",\"productLabelArrayText\":[\"Patent\"],\"productDatasetArrayText\":[\"Research\"],\"productDatasetCategoryArrayText\":[\"Patent
        file wrapper\"],\"productFromDate\":\"2001-01-01\",\"productToDate\":\"2026-12-31\",\"productTotalFileSize\":62592750657,\"productFileTotalQuantity\":3,\"lastModifiedDateTime\":\"2026-03-04
        01:31:51\",\"mimeTypeIdentifierArrayText\":[\"JSON\"]},{\"productIdentifier\":\"OACT\",\"productDescriptionText\":\"The
        \u201COffice action\u201D i[...]
