interactions:
- request:
    body: '{"pagination":{"offset":0,"limit":5}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.uspto.gov/api/v1/petition/decisions/search
  response:
    body:
      string: '{"count":5,"petitionDecisionDataBag":[{"petitionDecisionRecordIdentifier":"PD-2024-001","applicationNumberText":"16300001","petitionTypeCategory":"Revival","petitionDecisionCategory":"Granted","petitionDecisionDate":"2024-01-10"},{"petitionDecisionRecordIdentifier":"PD-2024-002","applicationNumberText":"16300002","petitionTypeCategory":"Extension of Time","petitionDecisionCategory":"Granted","petitionDecisionDate":"2024-01-15"},{"petitionDecisionRecordIdentifier":"PD-2024-003","applicationNumberText":"16300003","petitionTypeCategory":"Make Special","petitionDecisionCategory":"Dismissed","petitionDecisionDate":"2024-01-20"},{"petitionDecisionRecordIdentifier":"PD-2024-004","applicationNumberText":"16300004","petitionTypeCategory":"Revival","petitionDecisionCategory":"Granted","petitionDecisionDate":"2024-02-01"},{"petitionDecisionRecordIdentifier":"PD-2024-005","applicationNumberText":"16300005","petitionTypeCategory":"Extension of Time","petitionDecisionCategory":"Granted","petitionDecisionDate":"2024-02-05"}],"requestIdentifier":"req-pet-001"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
