openapi: 3.0.3
info:
  title: Patent Trial Decisions API
  version: 1.0.0
  description: "Endpoints identical to **Documents** but implicitly filtered to  \n\
    **`trialDocumentCategory = decision`**.\n"
servers:
- url: https://api.uspto.gov
- url: https://sandbox-api.uspto.gov

paths:
  /api/v1/patent/trials/decisions/search:
    post:
      tags:
      - PTAB Trials:Decisions
      summary: Search trials decisions documents using json payload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./odp-common-base.yaml#/components/schemas/PatentSearchRequest
            example:
              q: trialMetaData.trialTypeCode:IPR AND patentOwnerData.groupArtUnitNumber:2884
              sort: [{"field": "patentOwnerData.technologyCenterNumber","order": "desc"} ]
              pagination: {"offset": 0,"limit": 25}
              fields: ["patentOwnerData.groupArtUnitNumber","patentOwnerData.inventorName","respondentData.counselName"]
              filters: [{"name": "patentOwnerData.applicationNumberText","value": ["17980669"]}]   
              rangeFilters: [{"field": "respondentData.grantDate","valueFrom": '2023-01-01',"valueTo": '2024-12-31'}]      
              facets: ["trialMetaData.trialTypeCode","trialMetaData.trialStatusCategory"]
      responses:
        '200':
          $ref: '#/components/responses/Decision200'
        '400': { $ref: ./trial-common.yaml#/components/schemas/BadRequest }
        '403': { $ref: ./trial-common.yaml#/components/schemas/Forbidden }
        '404': { $ref: ./trial-common.yaml#/components/schemas/NotFound }
        '413': { $ref: ./trial-common.yaml#/components/schemas/Status413 }
        '500': { $ref: ./trial-common.yaml#/components/schemas/InternalError }
    get:
      tags:
      - PTAB Trials:Decisions
      summary: Search trials decisions documents using query parameters
      parameters:
       - name: q
         in: query
         description: A search query string which accepts boolean operators (AND, OR, NOT), wildcards (*), and exact phrases ("").
         allowReserved: true
         schema:
            type: string
         examples:
            No Search Text:
              summary: No conditions
              description: Empty, No conditions
              value:
            Exact Phrase:
              value: Pending
              description: Search text 'Pending' across the searchable data fields
            Exact Phrase AND:
              value: Pending AND 2800
              description: Search text 'Pending' AND '2800' across all searchable fields within data set
            Search By Field Value:
              value: trialNumber:IPR2025-01319
              description: Search data for trial number IPR2025-01319
            Boolean OR:
              value: trialMetaData.trialTypeCode:IPR OR patentOwnerData.groupArtUnitNumber:2884
              description: Search data where trialTypeCode is IPR Or groupArtUnitNumber is 2884
            Boolean AND:
              value: trialMetaData.trialTypeCode:IPR AND patentOwnerData.groupArtUnitNumber:2884
              description: Search data where trialTypeCode is both IPR and groupArtUnitNumber value is 2884
            Wildcard:
              value: respondentData.inventorName:Yong*
              description: Search data where inventorName has text Yong followed by any character
            Range:
              value: respondentData.grantDate:[2023-07-18 TO 2024-07-18]
              description: Search data where grantDate range is between 2023-07-18 TO 2024-07-18
            Comparison:
              value: patentOwnerData.groupArtUnitNumber:>600
              description: Search all records where groupArtUnitNumber is greater than 600
       - name: sort
         in: query
         description: Field to be sorted followed by sort order
         schema:
            type: string
         examples:
            No Sort:
              description: No sort option go by default sort
              value:
            Ascending:
              value: patentOwnerData.technologyCenterNumber asc
              description: Sort by technologyCenterNumber ascending order
            Descending:
              value: patentOwnerData.technologyCenterNumber desc
              description: Sort bytechnologyCenterNumber descending order
       - name: offset
         in: query
         description: Position in the dataset of a particular record
         schema:
            type: integer
            minimum: 0
         example: 0
       - name: limit
         in: query
         description: Limit the number of results returned
         schema:
            type: integer
            minimum: 1
         example: 25
       - name: facets
         in: query
         description: List of fields names to be faceted upon separated by comma (<b>,</b>)
         schema:
            type: string
         examples:
            No Facets:
              value:
              description: No faceting option
            Facets Example 1:
              value: trialMetaData.trialTypeCode,trialMetaData.trialStatusCategory
              description: Faceting by trialTypeCode and trialStatusCategory
            Facets Example 2:
              value: patentOwnerData.groupArtUnitNumber,patentOwnerData.inventorName,respondentData.counselName
              description: Faceting by groupArtUnitNumber,inventorName,counselName
       - name: fields
         in: query
         description: Limits the response by specifying which fields from dataset should be included.
         schema:
            type: string
         examples:
            All Available Data Set Fields:
              value:
              description: Returns all available data set fields
            Selected Fields:
              value: patentOwnerData.groupArtUnitNumber,patentOwnerData.inventorName,respondentData.counselName,documentData,decisionData
              description: Include only groupArtUnitNumber,inventorName and counselName in search result
       - name: filters
         in: query
         description: Filter data by supplying filter parameter. Provide field name and its value.
         schema:
            type: string
         examples:
            No Filter:
              value:
              description: No filter
            Filters Example 1:
              value: patentOwnerData.applicationNumberText 17980669
              description: Filter data where applicationNumberText value is 17980669
            Filters Example 2:
              value: trialMetaData.trialTypeCode IPR
              description: Filter data where trialTypeCode value is IPR
            Filters Single Value:
              value: trialMetaData.petitionFilingDate 2025-07-17
              description: Filter data where filingDate value is 2025-07-17
            Filters Multi Value:
              value: patentOwnerData.groupArtUnitNumber 2136,2884
              description: Filter data where groupArtUnitNumber value is 2136 or 2884
       - name: rangeFilters
         in: query
         description: Filter the data by supplying range of values. Applicable for number and date type fields.
         schema:
            type: string
         examples:
            No Range Filter:
              value:
              description: No range filter
            Date Range Filter:
              value: respondentData.grantDate 2023-07-18:2024-07-18
              description: Filter data where grant date is between 2023-07-18 and 2024-07-18
            Number Range Filter:
              value: respondentData.grantDate 2023-07-18:2024-07-18
              description: Filter data where grant date is between 2023-07-18:2024-07-18
      responses:
        '200':
          $ref: '#/components/responses/Decision200'
        '400': { $ref: ./trial-common.yaml#/components/schemas/BadRequest }
        '403': { $ref: ./trial-common.yaml#/components/schemas/Forbidden }
        '404': { $ref: ./trial-common.yaml#/components/schemas/NotFound }
        '413': { $ref: ./trial-common.yaml#/components/schemas/Status413 }
        '500': { $ref: ./trial-common.yaml#/components/schemas/InternalError }
  /api/v1/patent/trials/decisions/search/download:
    post:
      tags:
      - PTAB Trials:Decisions
      summary: "Download trials decisions documents search results in json or csv format using json payload"
      requestBody:
        required: true
        description: Download request. Same structure as PatentDownloadRequest.
        content:
          application/json:
            schema:
              $ref: ./trial-common.yaml#/components/schemas/DownloadRequest
            example:
              q: trialMetaData.trialTypeCode:IPR AND patentOwnerData.groupArtUnitNumber:2884
              sort: [{"field": "patentOwnerData.technologyCenterNumber","order": "desc"} ]
              pagination: {"offset": 0,"limit": 25}
              fields: ["patentOwnerData.groupArtUnitNumber","patentOwnerData.inventorName","respondentData.counselName"]
              filters: [{"name": "patentOwnerData.applicationNumberText","value": ["17980669"]}]   
              rangeFilters: [{"field": "respondentData.grantDate","valueFrom": '2023-01-01',"valueTo": '2024-12-31'}]      
              format: csv
      responses:
        '200':
          $ref: '#/components/responses/Decision200'
        '400': { $ref: ./trial-common.yaml#/components/schemas/BadRequest }
        '403': { $ref: ./trial-common.yaml#/components/schemas/Forbidden }
        '404': { $ref: ./trial-common.yaml#/components/schemas/NotFound }
        '413': { $ref: ./trial-common.yaml#/components/schemas/Status413 }
        '500': { $ref: ./trial-common.yaml#/components/schemas/InternalError }
    get:
      tags:
      - PTAB Trials:Decisions
      summary: Download trials decisions documents search results in json or csv format using query parameters
      parameters:
       - name: q
         in: query
         description: A search query string which accepts boolean operators (AND, OR, NOT), wildcards (*), and exact phrases ("").
         allowReserved: true
         schema:
            type: string
         examples:
            No Search Text:
              summary: No conditions
              description: Empty, No conditions
              value:
            Exact Phrase:
              value: Pending
              description: Search text 'Pending' across the searchable data fields
            Exact Phrase AND:
              value: Pending AND 2800
              description: Search text 'Pending' AND '2800' across all searchable fields within data set
            Search By Field Value:
              value: trialNumber:IPR2025-01319
              description: Search data for trial number IPR2025-01319
            Boolean OR:
              value: trialMetaData.trialTypeCode:IPR OR patentOwnerData.groupArtUnitNumber:2884
              description: Search data where trialTypeCode is IPR Or groupArtUnitNumber is 2884
            Boolean AND:
              value: trialMetaData.trialTypeCode:IPR AND patentOwnerData.groupArtUnitNumber:2884
              description: Search data where trialTypeCode is both IPR and groupArtUnitNumber value is 2884
            Wildcard:
              value: respondentData.inventorName:Yong*
              description: Search data where inventorName has text Yong followed by any character
            Range:
              value: respondentData.grantDate:[2023-07-18 TO 2024-07-18]
              description: Search data where grantDate range is between 2023-07-18 TO 2024-07-18
            Comparison:
              value: patentOwnerData.groupArtUnitNumber:>600
              description: Search all records where groupArtUnitNumber is greater than 600
       - name: sort
         in: query
         description: Field to be sorted followed by sort order
         schema:
            type: string
         examples:
            No Sort:
              description: No sort option go by default sort
              value:
            Ascending:
              value: patentOwnerData.technologyCenterNumber asc
              description: Sort by technologyCenterNumber ascending order
            Descending:
              value: patentOwnerData.technologyCenterNumber desc
              description: Sort bytechnologyCenterNumber descending order
       - name: offset
         in: query
         description: Position in the dataset of a particular record
         schema:
            type: integer
            minimum: 0
         example: 0
       - name: limit
         in: query
         description: Limit the number of results returned
         schema:
            type: integer
            minimum: 1
         example: 25
       - name: facets
         in: query
         description: List of fields names to be faceted upon separated by comma (<b>,</b>)
         schema:
            type: string
         examples:
            No Facets:
              value:
              description: No faceting option
            Facets Example 1:
              value: trialMetaData.trialTypeCode,trialMetaData.trialStatusCategory
              description: Faceting by trialTypeCode and trialStatusCategory
            Facets Example 2:
              value: patentOwnerData.groupArtUnitNumber,patentOwnerData.inventorName,respondentData.counselName
              description: Faceting by groupArtUnitNumber,inventorName,counselName
       - name: fields
         in: query
         description: Limits the response by specifying which fields from dataset should be included.
         schema:
            type: string
         examples:
            All Available Data Set Fields:
              value:
              description: Returns all available data set fields
            Selected Fields:
              value: patentOwnerData.groupArtUnitNumber,patentOwnerData.inventorName,respondentData.counselName
              description: Include only groupArtUnitNumber,inventorName and counselName in search result
       - name: filters
         in: query
         description: Filter data by supplying filter parameter. Provide field name and its value.
         schema:
            type: string
         examples:
            No Filter:
              value:
              description: No filter
            Filters Example 1:
              value: patentOwnerData.applicationNumberText 17980669
              description: Filter data where applicationNumberText value is 17980669
            Filters Example 2:
              value: trialMetaData.trialTypeCode IPR
              description: Filter data where trialTypeCode value is IPR
            Filters Single Value:
              value: trialMetaData.petitionFilingDate 2025-07-17
              description: Filter data where filingDate value is 2025-07-17
            Filters Multi Value:
              value: patentOwnerData.groupArtUnitNumber 2136,2884
              description: Filter data where groupArtUnitNumber value is 2136 or 2884
       - name: rangeFilters
         in: query
         description: Filter the data by supplying range of values. Applicable for number and date type fields.
         schema:
            type: string
         examples:
            No Range Filter:
              value:
              description: No range filter
            Date Range Filter:
              value: respondentData.grantDate 2023-07-18:2024-07-18
              description: Filter data where grant date is between 2023-07-18 and 2024-07-18
            Number Range Filter:
              value: respondentData.grantDate 2023-07-18:2024-07-18
              description: Filter data where grant date is between 2023-07-18:2024-07-18
       - name: format
         in: query
         description: Download Format
         schema:
            type: string
         examples:
            json:
              value: json
            csv:
              value: csv
      responses:
        '200':
          $ref: '#/components/responses/Decision200'
        '400': { $ref: ./trial-common.yaml#/components/schemas/BadRequest }
        '403': { $ref: ./trial-common.yaml#/components/schemas/Forbidden }
        '404': { $ref: ./trial-common.yaml#/components/schemas/NotFound }
        '413': { $ref: ./trial-common.yaml#/components/schemas/Status413 }
        '500': { $ref: ./trial-common.yaml#/components/schemas/InternalError }
  /api/v1/patent/trials/decisions/{documentIdentifier}:
    get:
      tags:
      - PTAB Trials:Decisions
      summary: Retrieve a single trials decisions document by document identifier
      parameters:
      - name: documentIdentifier
        in: path
        required: true
        schema:
          type: string
          example: '170224750'
      responses:
        '200':
          $ref: '#/components/responses/Decision200'
        '400': { $ref: ./trial-common.yaml#/components/schemas/BadRequest }
        '403': { $ref: ./trial-common.yaml#/components/schemas/Forbidden }
        '404': { $ref: ./trial-common.yaml#/components/schemas/NotFound }
        '413': { $ref: ./trial-common.yaml#/components/schemas/Status413 }
        '500': { $ref: ./trial-common.yaml#/components/schemas/InternalError }  
  
   
  /api/v1/patent/trials/{trialNumber}/decisions:
    get:
      tags:
      - PTAB Trials:Decisions
      summary: Retrieve all trials decisions documents by trial number
      parameters:
       - name: trialNumber
         in: path
         required: true
         schema:
           type: string
           example: IPR2020-00388
      responses:
        '200':
          $ref: '#/components/responses/Decision200'
        '400': { $ref: ./trial-common.yaml#/components/schemas/BadRequest }
        '403': { $ref: ./trial-common.yaml#/components/schemas/Forbidden }
        '404': { $ref: ./trial-common.yaml#/components/schemas/NotFound }
        '413': { $ref: ./trial-common.yaml#/components/schemas/Status413 }
        '500': { $ref: ./trial-common.yaml#/components/schemas/InternalError }
components:
  schemas:
    patentTrialDecisionDataBag:
      type: object
      description: A single PTAB document record.
      properties:
        trialDocumentCategory:
          type: string
          example: document
        lastModifiedDateTime:
          type: string
          format: date-time
          example: '2025-07-01T15:20:30Z'
        trialNumber:
          type: string
          example: IPR2024-00001
        trialTypeCode:
          type: string
          example: IPR
        trialMetaData:
          $ref: ./trial-common.yaml#/components/schemas/TrialMetaData
        patentOwnerData:
          $ref: ./trial-common.yaml#/components/schemas/PatentOwnerData
        regularPetitionerData:
          $ref: ./trial-common.yaml#/components/schemas/RegularPetitionerData
        respondentData:
          $ref: ./trial-common.yaml#/components/schemas/RespondentData
        derivationPetitionerData:
          $ref: ./trial-common.yaml#/components/schemas/DerivationPetitionerData
        documentData:
          $ref: ./trial-common.yaml#/components/schemas/DocumentData
        decisionData:
          $ref: ./trial-common.yaml#/components/schemas/DecisionData
    DecisionDataResponse:
      type: object
      properties:
        count:
          type: integer
          example: 100
        patentTrialDecisionDataBag:
          type: array
          items:
            $ref: '#/components/schemas/patentTrialDecisionDataBag'
        facets:
          type: array
          items:
            $ref: ./trial-common.yaml#/components/schemas/Facet
  responses:
    Decision200:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DecisionDataResponse'
