interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://ops.epo.org/3.2/rest-services/family/publication/docdb/EP1000000A1
  response:
    body:
      string: "<error><code>400</code><message>invalid_access_token</message><description>Access
        token is invalid</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      content-type:
      - application/xml
      www-authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
    status:
      code: 400
      message: Bad Request
- request:
    body: grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    body:
      string: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\":
        \"[ops-prod]\",\n  \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n
        \ \"organization_name\": \"p-epo-apigeex-prj-a7e0\",\n  \"developer.email\":
        \"parker.hancock@protonmail.com\",\n  \"token_type\": \"Bearer\",\n  \"issued_at\":
        \"1772733310655\",\n  \"client_id\": \"REDACTED_CLIENT_ID\",\n
        \ \"access_token\": \"REDACTED_TOKEN\",\n  \"application_name\":
        \"dc81cc3e-9e21-4d76-8f39-7b6c8d227737\",\n  \"scope\": \"core\",\n  \"expires_in\":
        \"1199\",\n  \"refresh_count\": \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      content-type:
      - application/json
      x-epo-client-ip:
      - 174.214.103.23
      x-epo-forwarded:
      - '[174.214.103.23, 34.120.53.27, 35.191.103.238]'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://ops.epo.org/3.2/rest-services/family/publication/docdb/EP1000000A1
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"../../../../style/family.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:patent-family legal=\"false\" total-result-count=\"6\">\n        <ops:publication-reference>\n
        \           <document-id document-id-type=\"docdb\">\n                <country>EP</country>\n
        \               <doc-number>1000000</doc-number>\n                <kind>A1</kind>\n
        \           </document-id>\n        </ops:publication-reference>\n        <ops:family-member
        family-id=\"19768124\">\n            <publication-reference>\n                <document-id
        document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <doc-number>1000000</doc-number>\n
        \                   <kind>A1</kind>\n                    <date>20000517</date>\n
        \               </document-id>\n                <document-id document-id-type=\"epodoc\">\n
        \                   <doc-number>EP1000000</doc-number>\n                    <date>20000517</date>\n
        \               </document-id>\n            </publication-reference>\n            <application-reference
        doc-id=\"17397285\" is-representative=\"YES\">\n                <document-id
        document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <doc-number>99203729</doc-number>\n
        \                   <kind>A</kind>\n                    <date>19991108</date>\n
        \               </document-id>\n            </application-reference>\n            <priority-claim
        sequence=\"1\" kind=\"national\">\n                <document-id document-id-type=\"docdb\">\n
        \                   <country>NL</country>\n                    <doc-number>1010536</doc-number>\n
        \                   <kind>A</kind>\n                    <date>19981112</date>\n
        \               </document-id>\n                <priority-active-indicator>YES</priority-active-indicator>\n
        \           </priority-claim>\n        </ops:family-member>\n        <ops:family-member
        family-id=\"19768124\">\n            <publication-reference>\n                <document-id
        document-id-type=\"docdb\">\n                    <country>EP</country>\n                    <doc-number>1000000</doc-number>\n
        \                   <kind>B1</kind>\n                    <date>20030212</date>\n
        \               </document-id>\n       [...]
