interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://ops.epo.org/3.2/rest-services/register/search?Range=1-5&q=pa%3D%22Siemens%22
  response:
    body:
      string: "<error><code>400</code><message>invalid_access_token</message><description>Access
        token is invalid</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      content-type:
      - application/xml
      www-authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
    status:
      code: 400
      message: Bad Request
- request:
    body: grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    body:
      string: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\":
        \"[ops-prod]\",\n  \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n
        \ \"organization_name\": \"p-epo-apigeex-prj-a7e0\",\n  \"developer.email\":
        \"parker.hancock@protonmail.com\",\n  \"token_type\": \"Bearer\",\n  \"issued_at\":
        \"1772734090454\",\n  \"client_id\": \"REDACTED_CLIENT_ID\",\n
        \ \"access_token\": \"REDACTED_TOKEN\",\n  \"application_name\":
        \"dc81cc3e-9e21-4d76-8f39-7b6c8d227737\",\n  \"scope\": \"core\",\n  \"expires_in\":
        \"1199\",\n  \"refresh_count\": \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      content-type:
      - application/json
      x-epo-client-ip:
      - 174.214.103.23
      x-epo-forwarded:
      - '[174.214.103.23, 34.120.53.27, 35.191.136.68]'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://ops.epo.org/3.2/rest-services/register/search?Range=1-5&q=pa%3D%22Siemens%22
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><?xml-stylesheet
        type='text/xsl' href='../../style/rplus.xsl' ?>\n<ops:world-patent-data xmlns:ops=\"http://ops.epo.org\"
        xmlns:reg=\"http://www.epo.org/register\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xmlns:cpc=\"http://www.epo.org/cpcexport\" xmlns:cpcdef=\"http://www.epo.org/cpcdefinition\">\n
        \   <ops:register-search total-result-count=\"10000\">\n        <ops:query
        syntax=\"CQL\">pa=\"Siemens\"</ops:query>\n        <ops:range begin=\"1\"
        end=\"5\"/>\n        <reg:register-documents produced-by=\"RO\">\n            <reg:register-document
        produced-by=\"RO\">\n                <reg:ep-patent-statuses>\n                    <reg:ep-patent-status
        change-date=\"\" status-code=\"\"/>\n                </reg:ep-patent-statuses>\n
        \               <reg:bibliographic-data>\n                    <reg:publication-reference>\n
        \                       <reg:document-id>\n                            <reg:country>EP</reg:country>\n
        \                           <reg:doc-number>4704019</reg:doc-number>\n                            <reg:date>20260304</reg:date>\n
        \                       </reg:document-id>\n                    </reg:publication-reference>\n
        \                   <reg:classifications-ipcr>\n                        <reg:classification-ipcr
        sequence=\"CLASSIFICATION_1\">\n                            <reg:text>G06Q30/0601</reg:text>\n
        \                       </reg:classification-ipcr>\n                    </reg:classifications-ipcr>\n
        \                   <reg:application-reference>\n                        <reg:document-id>\n
        \                           <reg:country>EP</reg:country>\n                            <reg:doc-number>25199035</reg:doc-number>\n
        \                       </reg:document-id>\n                    </reg:application-reference>\n
        \                   <reg:parties>\n                        <reg:applicants>\n
        \                           <reg:applicant app-type=\"applicant\" designation=\"all\"
        sequence=\"1\">\n<reg:addressbook>\n    <reg:name>Siemens Aktiengesellschaft</reg:name>\n
        \   <reg:address>\n        <reg:country/>\n    </reg:address>\n</reg:addressbook>\n<reg:nationality>\n
        \   <reg:country></reg:country>\n</reg:nationality>\n<reg:residence>\n    <reg:country></reg:country>\n</reg:residence>\n
        \                           </reg:applicant>\n                        </reg:applicants>\n
        \                       <reg:agents>\n                            <reg:agent
        rep-type=\"agent\" sequence=\"1\">\n<reg:addressbook>\n    <reg:name>Siemens
        Patent Attorneys</reg:name>\n    <reg:address>\n        <reg:country/>\n    </reg:address>\n</reg:addressbook>\n
        \                           </reg:agent>\n                        </reg:agents>\n
        \                   </reg:parties>\n                    <reg:invention-title
        lang=\"de\">VERFAHREN UND SYSTEM MIT EINER KOMBINATION AUS GROSSSPRACHENMODELLEN
        UND EINER BESCHR\xC4NKUNGSMASCHINE</reg:invention-title>\n                    <reg:invention-title
        lang=\"en\">METHOD AND SYSTEM COMPRISING A COMBINATION OF LARGE LANGUAGE MODELS
        AND A CONSTRAINT ENGINE</reg:invention-title>\n                    <reg:invention-title
        lang=\"fr\">PROCEDE ET SYSTEME COMPRENANT UNE COMBINAISON DE MODELES DE LANGAGES
        IMPORTANTS ET UN MOTEUR DE CONTRAINTES</reg:invention-title>\n                </reg:bibliographic-data>\n
        \           </reg:register-document>\n            <reg:register-document produced-by=\"RO\">\n
        \               <reg:ep-patent-statuses>\n                    <reg:ep-patent-status
        change-date=\"\" status-code=\"\"/>\n                </reg:ep-patent-statuses>\n
        \               <reg:bibliographic-data>\n                    <reg:publication-reference>\n
        \                       <reg:document-id>\n                            <reg:country>EP</reg:country>\n
        \                           <reg:doc-number>4702930</reg:doc-number>\n        [...]
