interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://ops.epo.org/3.2/rest-services/number-service/publication/docdb/US10123456/epodoc
  response:
    body:
      string: "<error><code>400</code><message>invalid_access_token</message><description>Access
        token is invalid</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      content-type:
      - application/xml
      www-authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
    status:
      code: 400
      message: Bad Request
- request:
    body: grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    body:
      string: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\":
        \"[ops-prod]\",\n  \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n
        \ \"organization_name\": \"p-epo-apigeex-prj-a7e0\",\n  \"developer.email\":
        \"parker.hancock@protonmail.com\",\n  \"token_type\": \"Bearer\",\n  \"issued_at\":
        \"1772733313466\",\n  \"client_id\": \"REDACTED_CLIENT_ID\",\n
        \ \"access_token\": \"REDACTED_TOKEN\",\n  \"application_name\":
        \"dc81cc3e-9e21-4d76-8f39-7b6c8d227737\",\n  \"scope\": \"core\",\n  \"expires_in\":
        \"1199\",\n  \"refresh_count\": \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      content-type:
      - application/json
      x-epo-client-ip:
      - 174.214.103.23
      x-epo-forwarded:
      - '[174.214.103.23, 34.120.53.27, 35.191.136.97]'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://ops.epo.org/3.2/rest-services/number-service/publication/docdb/US10123456/epodoc
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"../../../../../style/numbers.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:meta name=\"status\" value=\"SUCCESS\"/>\n    <ops:standardization
        inputFormat=\"docdb\" outputFormat=\"epodoc\">\n        <ops:input>\n            <ops:publication-reference>\n
        \               <document-id document-id-type=\"docdb\">\n                    <country>US</country>\n
        \                   <doc-number>10123456</doc-number>\n                </document-id>\n
        \           </ops:publication-reference>\n        </ops:input>\n        <ops:output>\n
        \           <ops:publication-reference>\n                <document-id document-id-type=\"epodoc\">\n
        \                   <doc-number>US10123456</doc-number>\n                    <kind>B2</kind>\n
        \                   <date>20181106</date>\n                </document-id>\n
        \           </ops:publication-reference>\n        </ops:output>\n    </ops:standardization>\n</ops:world-patent-data>"
    headers:
      content-type:
      - application/xml;charset=utf-8
      etag:
      - '"05f3d19c01fce47979c03afd9a539e338"'
      x-accel-buffering:
      - 'no'
      x-api:
      - ops-v3.2
      x-elapsed-time:
      - '13'
      x-epo-client-ip:
      - 174.214.103.23
      x-epo-forwarded:
      - '[174.214.103.23, 34.120.53.27, 35.191.5.60]'
      x-individualquotaperhour-used:
      - '103834'
      x-registeredquotaperweek-used:
      - '103834'
      x-throttling-control:
      - idle (images=green:200, inpadoc=green:60, other=green:1000, retrieval=green:200,
        search=green:30)
    status:
      code: 200
      message: OK
version: 1
