interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://ops.epo.org/3.2/rest-services/published-data/search?Range=1-5&q=ti%3Drobot
  response:
    body:
      string: "<error><code>400</code><message>invalid_access_token</message><description>Access
        token is invalid</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      content-type:
      - application/xml
      www-authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
    status:
      code: 400
      message: Bad Request
- request:
    body: grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    body:
      string: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\":
        \"[ops-prod]\",\n  \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n
        \ \"organization_name\": \"p-epo-apigeex-prj-a7e0\",\n  \"developer.email\":
        \"parker.hancock@protonmail.com\",\n  \"token_type\": \"Bearer\",\n  \"issued_at\":
        \"1772733306167\",\n  \"client_id\": \"REDACTED_CLIENT_ID\",\n
        \ \"access_token\": \"REDACTED_TOKEN\",\n  \"application_name\":
        \"dc81cc3e-9e21-4d76-8f39-7b6c8d227737\",\n  \"scope\": \"core\",\n  \"expires_in\":
        \"1199\",\n  \"refresh_count\": \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      content-type:
      - application/json
      x-epo-client-ip:
      - 174.214.103.23
      x-epo-forwarded:
      - '[174.214.103.23, 34.120.53.27, 35.191.105.144]'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://ops.epo.org/3.2/rest-services/published-data/search?Range=1-5&q=ti%3Drobot
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"../../style/exchange.xsl\"?>\n<ops:world-patent-data xmlns=\"http://www.epo.org/exchange\"
        xmlns:ops=\"http://ops.epo.org\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n
        \   <ops:biblio-search total-result-count=\"10000\" publications-count=\"5\">\n
        \       <ops:query syntax=\"CQL\">ti = robot</ops:query>\n        <ops:range
        begin=\"1\" end=\"5\"/>\n        <ops:search-result>\n            <ops:publication-reference
        system=\"ops.epo.org\" family-id=\"80682934\">\n                <document-id
        document-id-type=\"docdb\">\n                    <country>FI</country>\n                    <doc-number>4457063</doc-number>\n
        \                   <kind>T3</kind>\n                </document-id>\n            </ops:publication-reference>\n
        \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"81325575\">\n
        \               <document-id document-id-type=\"docdb\">\n                    <country>PL</country>\n
        \                   <doc-number>4493367</doc-number>\n                    <kind>T3</kind>\n
        \               </document-id>\n            </ops:publication-reference>\n
        \           <ops:publication-reference system=\"ops.epo.org\" family-id=\"98896504\">\n
        \               <document-id document-id-type=\"docdb\">\n                    <country>US</country>\n
        \                   <doc-numbe[...]
