interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://ops.epo.org/3.2/rest-services/classification/cpc/H04L9/32
  response:
    body:
      string: "<error><code>400</code><message>invalid_access_token</message><description>Access
        token is invalid</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      content-type:
      - application/xml
      www-authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
    status:
      code: 400
      message: Bad Request
- request:
    body: grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    body:
      string: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\":
        \"[ops-prod]\",\n  \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n
        \ \"organization_name\": \"p-epo-apigeex-prj-a7e0\",\n  \"developer.email\":
        \"parker.hancock@protonmail.com\",\n  \"token_type\": \"Bearer\",\n  \"issued_at\":
        \"1772734074475\",\n  \"client_id\": \"REDACTED_CLIENT_ID\",\n
        \ \"access_token\": \"REDACTED_TOKEN\",\n  \"application_name\":
        \"dc81cc3e-9e21-4d76-8f39-7b6c8d227737\",\n  \"scope\": \"core\",\n  \"expires_in\":
        \"1199\",\n  \"refresh_count\": \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      content-type:
      - application/json
      x-epo-client-ip:
      - 174.214.103.23
      x-epo-forwarded:
      - '[174.214.103.23, 34.120.53.27, 35.191.103.238]'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://ops.epo.org/3.2/rest-services/classification/cpc/H04L9/32
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8" standalone="yes"?><?xml-stylesheet
        type='text/xsl' href='../../../../style/cpc.xsl' ?><ops:world-patent-data
        xmlns:ops="http://ops.epo.org" xmlns:reg="http://www.epo.org/register" xmlns:cpcdef="http://www.epo.org/cpcdefinition"
        xmlns:cpc="http://www.epo.org/cpcexport" xmlns:xlink="http://www.w3.org/1999/xlink"><ops:classification-scheme><ops:cpc><cpc:class-scheme
        scheme-type="cpc" export-date="2026-01-01"><cpc:classification-item level="8"
        additional-only="false" sort-key="H04L9/32" not-allocatable="false" breakdown-code="false"
        status="published" link-file="classification/cpc/H04L9/32" ipc-concordant="H04L9/32"
        definition-exists="true" c-set-subsequent-allowed="true" date-revised="2022-08-01"><cpc:classification-symbol>H04L9/32</cpc:classification-symbol><cpc:class-title
        date-revised="2022-08-01"><cpc:title-part><cpc:text>including means for verifying
        the identity or authority of a user of the system </cpc:text><cpc:comment><cpc:text>or
        for message authentication, e.g. authorization, entity authentication, data
        integrity or data verification, non-repudiation, key authentication or verification
        of credentials</cpc:text></cpc:comment></cpc:title-part></cpc:class-title><cpc:meta-data>+D</cpc:meta-data></cpc:classification-item></cpc:class-scheme></ops:cpc></ops:classification-scheme></ops:world-patent-data>
    headers:
      content-type:
      - application/xml;charset=utf-8
      etag:
      - '"02ee57ab14f48d440f8f86c9d8c92a796"'
      x-accel-buffering:
      - 'no'
      x-api:
      - ops-v3.2
      x-epo-client-ip:
      - 174.214.103.23
      x-epo-forwarded:
      - '[174.214.103.23, 34.120.53.27, 35.191.39.26]'
      x-individualquotaperhour-used:
      - '118856'
      x-registeredquotaperweek-used:
      - '118856'
      x-throttling-control:
      - idle (images=green:200, inpadoc=green:60, other=green:1000, retrieval=green:200,
        search=green:30)
    status:
      code: 200
      message: OK
version: 1
