interactions:
- request:
    body: ''
    headers:
      x-ops-range:
      - 1-10
    method: GET
    uri: https://ops.epo.org/3.2/rest-services/classification/cpc/search?q=robot
  response:
    body:
      string: "<error><code>400</code><message>invalid_access_token</message><description>Access
        token is invalid</description>\n\t\t\t\t</error>\n\t\t\t"
    headers:
      content-type:
      - application/xml
      www-authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
    status:
      code: 400
      message: Bad Request
- request:
    body: grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ops.epo.org/3.2/auth/accesstoken
  response:
    body:
      string: "{\n  \"refresh_token_expires_in\": \"0\",\n  \"api_product_list\":
        \"[ops-prod]\",\n  \"api_product_list_json\": [\n    \"ops-prod\"\n  ],\n
        \ \"organization_name\": \"p-epo-apigeex-prj-a7e0\",\n  \"developer.email\":
        \"parker.hancock@protonmail.com\",\n  \"token_type\": \"Bearer\",\n  \"issued_at\":
        \"1772734078637\",\n  \"client_id\": \"REDACTED_CLIENT_ID\",\n
        \ \"access_token\": \"REDACTED_TOKEN\",\n  \"application_name\":
        \"dc81cc3e-9e21-4d76-8f39-7b6c8d227737\",\n  \"scope\": \"core\",\n  \"expires_in\":
        \"1199\",\n  \"refresh_count\": \"0\",\n  \"status\": \"approved\"\n}"
    headers:
      content-type:
      - application/json
      x-epo-client-ip:
      - 174.214.103.23
      x-epo-forwarded:
      - '[174.214.103.23, 34.120.53.27, 35.191.105.146]'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      x-ops-range:
      - 1-10
    method: GET
    uri: https://ops.epo.org/3.2/rest-services/classification/cpc/search?q=robot
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><?xml-stylesheet
        type='text/xsl' href='../../../style/cpc-search.xsl' ?>\n<ops:world-patent-data
        xmlns:ops=\"http://ops.epo.org\" xmlns:reg=\"http://www.epo.org/register\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:cpc=\"http://www.epo.org/cpcexport\"
        xmlns:cpcdef=\"http://www.epo.org/cpcdefinition\">\n    <ops:classification-search
        total-result-count=\"10\" scheme-type=\"CPC\">\n        <ops:query syntax=\"\">robot</ops:query>\n
        \       <ops:search-result>\n            <ops:classification-statistics classification-symbol=\"B25J9/00\"
        percentage=\"11.335012\">\n                <cpc:class-title date-revised=\"2026-01-01\">\n
        \                   <cpc:title-part>\n                        <cpc:text>Program-controlled
        manipulators</cpc:text>\n                    </cpc:title-part>\n                </cpc:class-title>\n
        \           </ops:classification-statistics>\n            <ops:classification-statistics
        classification-symbol=\"G05D1/00\" percentage=\"4.282116\">\n                <cpc:class-title
        date-revised=\"2024-01-01\">\n                    <cpc:title-part>\n                        <cpc:text>Control
        of position, course, altitude or attitude of land, water, air or space vehicles,
        e.g. using automatic pilots </cpc:text>\n                        <cpc:explanation>\n
        \                           <cpc:text>drive control systems specially adapted
        for autonomous road vehicles <cpc:class-ref scheme=\"cpc\">B60W60/00</cpc:class-ref>\n
        \                           </cpc:text>\n                        </cpc:explanation>\n
        \                   </cpc:title-part>\n                </cpc:class-title>\n
        \           </ops:classification-statistics>\n            <ops:classification-statistics
        classification-symbol=\"B25J19/00\" percentage=\"4.0302267\">\n                <cpc:class-title
        date-revised=\"2013-01-01\">\n                    <cpc:title-part>\n  [...]
