interactions:
- request:
    body: ''
    headers:
      X-Requested-With:
      - XMLHttpRequest
    method: GET
    uri: https://ppubs.uspto.gov/pubwebapp/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n
        \   <meta http-equiv=\"Pragma\" content=\"no-cache\">\n    <meta http-equiv=\"Expires\"
        content=\"-1\">\n    <meta http-equiv=\"Cache-Control\" content=\"no-store,
        no-cache, max-age=0\">\n    <title>Patent Public Search | USPTO</title>\n
        \   <link rel=\"icon\" type=\"image/png\" href=\"images/favicon_new.png\">\n
        \   <!-- DO NOT REMOVE ANY OF COMMENT BELOW (USED BY USMIN) -->\n    <!--
        build:css(.tmp) styles/main.css -->\n    <link rel=\"stylesheet\" href=\"styles/main.css\">\n
        \   <!-- endbuild -->\n    <script src=\"common/environment.js\"></script>\n</head>\n<body>\n<h1
        class=\"sr-only\">Patent Public Search | USPTO <span class=\"ext-window\">
        - extended window</span></h1>\n<div class=\"layout\">\n    <div class=\"zone
        ui-layout-north\" data-zone=\"north\"></div>\n    <div class=\"zone ui-layout-west\"
        data-zone=\"west\"></div>\n    <div class=\"zone ui-layout-center\" data-zone=\"center\"></div>\n
        \   <div class=\"zone ui-layout-east\" data-zone=\"east\"></div>\n    <div
        class=\"zone ui-layout-south\" data-zone=\"south\"></div>\n</div>\n\n<!--
        build:js({web,.tmp}) main.js -->\n<!-- Google Analytics script -->\n<script
        type='text/javascript' src=\"common/analytics/googleAnalytics.js\"></script>\n\n<!--BEGIN
        QUALTRICS WEBSITE FEEDBACK SNIPPET-->\n<script type='text/javascript' src=\"common/analytics/qualtricsAnalytics.js\"></script>\n\n<script
        src=\"vendor/require/require.js\"></script>\n<script src=\"main.js\"></script>\n<!--
        endbuild -->\n</body>\n</html>"
    headers:
      content-type:
      - text/html
      etag:
      - '"5b0-6463cc1987ceb"'
      last-modified:
      - Thu, 18 Dec 2025 16:50:20 GMT
    status:
      code: 200
      message: null
- request:
    body: '-1'
    headers:
      Content-Type:
      - application/json
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/api/users/me/session
  response:
    body:
      string: '{"userSessionId":206529163,"ipAddress":null,"userCase":{"caseId":206529332,"userId":206529163,"caseName":"Untitled
        Case","applicationNumber":null},"userPreferences":{},"versions":[{"product":"API","releaseNumber":"5.1.1","date":"03.12.2025
        @ 15:08:42 UTC","commitId":"8390cd5c","collectionName":""},{"product":"SOLR","releaseNumber":"9.8.1","date":"","commitId":"","collectionName":"us_patent_collection"}],"documentsLimitInQuery":1000,"sessionTimeOutTime":1800,"featureFlags":{"MLTD":false,"SQM":true,"FIT":false,"QBRANCH_ANALYTICS":false},"role":"ANONYMOUS_USER","sessionIdentifer":"9d46a1d3-2153-4fc5-b3b0-191780eaf8a1"}'
    headers:
      content-type:
      - application/json
      x-access-token:
      - eyJzdWIiOiI5ZDQ2YTFkMy0yMTUzLTRmYzUtYjNiMC0xOTE3ODBlYWY4YTEiLCJ2ZXIiOiI5ZGYzYWUwMC1lZjE4LTRmMTMtOTdhNy02MjYxYTllYjMxOTkiLCJleHAiOjB9
    status:
      code: 200
      message: null
- request:
    body: '{"caseId":206529332,"hl_snippets":"2","op":"OR","q":"neural network","queryName":"neural
      network","highlights":"1","qt":"brs","spellCheck":false,"viewName":"tile","plurals":true,"britishEquivalents":true,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"searchType":1,"ignorePersist":true,"userEnteredQuery":"neural
      network"}'
    headers:
      Content-Type:
      - application/json
      X-Access-Token:
      - eyJzdWIiOiI5ZDQ2YTFkMy0yMTUzLTRmYzUtYjNiMC0xOTE3ODBlYWY4YTEiLCJ2ZXIiOiI5ZGYzYWUwMC1lZjE4LTRmMTMtOTdhNy02MjYxYTllYjMxOTkiLCJleHAiOjB9
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/api/searches/counts
  response:
    body:
      string: '{"id":null,"caseId":206529332,"userId":null,"numResults":2504343,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"neural
        network","queryName":"neural network","userEnteredQuery":"neural network","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":false,"expandSort":null,"expandRows":null,"expandTrackDocScores":false,"expandTrackMaxScore":false,"termGraph":{"termOrigin":[{"id":0,"name":null,"nodeType":"ROOT","parentId":null,"relation":null,"aliases":["default"],"aliasCategory":"OTHER"},{"id":1,"name":"neural","nodeType":"TERM","parentId":0,"relation":"REGULAR","aliases":["default"],"aliasCategory":"OTHER"},{"id":3,"name":"neurals","nodeType":"TERM","parentId":1,"relation":"PLURAL","aliases":["default"],"aliasCategory":"OTHER"},{"id":2,"name":"network","nodeType":"TERM","parentId":0,"relation":"REGULAR","aliases":["default"],"aliasCategory":"OTHER"},{"id":4,"name":"networks","nodeType":"TERM","parentId":2,"relation":"PLURAL","aliases":["default"],"aliasCategory":"OTHER"}],"termRelationship":[{"relationshipType":"PLURAL","relationshipBase":0,"members":[1,3]},{"relationshipType":"PLURAL","relationshipBase":0,"members":[2,4]}]},"hl":false,"fl":null,"originalQuery":"neural
        network","error":null,"terms":["neural","neurals","networks","network"],"facets":[{"solrField":"document_type","count":2504343,"id":"USPAT"}],"anchorDocIds":null,"querySource":null,"pNumber":null,"hl_fl":null}'
    headers:
      content-type:
      - application/json
      x-rate-limit-remaining:
      - '39'
    status:
      code: 200
      message: null
- request:
    body: '{"start":0,"pageCount":3,"sort":"date_publ desc","docFamilyFiltering":"familyIdFiltering","searchType":1,"familyIdEnglishOnly":true,"familyIdFirstPreferred":"US-PGPUB","familyIdSecondPreferred":"USPAT","familyIdThirdPreferred":"FPRS","showDocPerFamilyPref":"showEnglish","queryId":0,"tagDocSearch":false,"query":{"caseId":206529332,"hl_snippets":"2","op":"OR","q":"neural
      network","queryName":"neural network","highlights":"1","qt":"brs","spellCheck":false,"viewName":"tile","plurals":true,"britishEquivalents":true,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"searchType":1,"ignorePersist":true,"userEnteredQuery":"neural
      network"}}'
    headers:
      Content-Type:
      - application/json
      X-Access-Token:
      - eyJzdWIiOiI5ZDQ2YTFkMy0yMTUzLTRmYzUtYjNiMC0xOTE3ODBlYWY4YTEiLCJ2ZXIiOiI5ZGYzYWUwMC1lZjE4LTRmMTMtOTdhNy02MjYxYTllYjMxOTkiLCJleHAiOjB9
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://ppubs.uspto.gov/api/searches/searchWithBeFamily
  response:
    body:
      string: '{"numFound":3,"perPage":3,"page":0,"totalPages":0,"hlSnippets":0,"sort":null,"query":{"id":null,"caseId":206529332,"userId":null,"numResults":3,"ignorePersist":true,"fq":null,"databaseFilters":[{"databaseName":"USPAT","countryCodes":[]}],"q":"neural
        network","queryName":"neural network","userEnteredQuery":"neural network","viewName":"tile","op":"OR","highlights":"1","plurals":true,"britishEquivalents":true,"searchType":1,"excludeResultsAfter":null,"dateCreated":null,"deleteIn":false,"expand":true,"expandSort":"group_sort_date
        asc, id desc ","expandRows":"100","expandTrackDocScores":true,"expandTrackMaxScore":true,"termGraph":null,"hl":false,"fl":null,"originalQuery":"neural
        network","error":null,"terms":["neural","neurals","networks","network"],"facets":[],"anchorDocIds":null,"querySource":null,"pNumber":null,"hl_fl":null},"duration":310,"highlightingTime":0,"cursorMarker":"AoJwwNK/2JwDPDEwMDAwMDU3MzcxMjUhVVMtVVMtMTI1NjY2MjM=","totalResults":3,"numberOfFamilies":1883111,"error":null,"patents":[{"guid":"US-12566963-B1","publicationReferenceDocumentNumber":"12566963","compositeId":"1000003957326!US-US-12566963","publicationReferenceDocumentNumber1":"12566963","datePublishedKwicHits":null,"datePublished":"2026-03-03T00:00:00Z","inventionTitle":"Convolutional
        <span term=\"neural\" class=\"highlight18\">neural</span> <span term=\"networks\"
        class=\"highlight18\">networks</span> with content-adaptive filters","type":"USPAT","mainClassificationCode":"1/1","applicantName":["NVIDIA
        Corporation"],"assigneeName":["NVIDIA Corporation"],"uspcFullClassificationFlattened":null,"ipcCodeFlattened":"G06N3/084;G06F18/40","cpcInventiveFlattened":"G06N3/084;G06F18/40;G06T5/70;G06T7/10","cpcAdditionalFlattened":"G06T2207/20024;G06T2207/20081;G06T2207/20084","applicationFilingDate":["2019-03-20T00:00:00Z"],"applicationFilingDateKwicHits":null,"relatedApplFilingDate":null,"primaryExaminer":"Roz;
        Mark","assistantExaminer":null,"applicationNumber":"16/359782","frontPageStart":1,"frontPageEnd":2,"drawingsStart":3,"drawingsEnd":12,"specificationStart":13,"specificationEnd":25,"claimsStart":25,"claimsEnd":26,"abstractStart":1,"abstractEnd":1,"bibStart":1,"bibEnd":2,"certCorrectionStart":0,"certCorrectionEnd":0,"certReexaminationStart":0,"certReexaminationEnd":0,"supplementalStart":0,"supplementalEnd":0,"ptabStart":0,"ptabEnd":0,"amendStart":0,"amendEnd":0,"searchReportStart":0,"searchReportEnd":0,"pageCount":26,"pageCountDisplay":"26","previouslyViewed":false,"unused":false,"imageLocation":"uspat/US/G63/669/125","imageFileName":"00000001.tif","cpcCodes":null,"queryId":null,"tags":null,"inventorsShort":"Jampani;
        Varun et al.","familyIdentifierCur":1000003957326,"familyIdentifierCurStr":null,"languageIndicator":"EN","databaseName":"USPT","dwImageDoctypeList":null,"dwImageLocList":null,"dwPageCountList":null,"dwImageDocidList":null,"patentFamilyMembers":null,"patentFamilyCountry":null,"patentFamilySerialNumber":null,"documentIdWithDashesDw":null,"pfPublDate":null,"pfPublDateKwicHits":null,"priorityClaimsDate":null,"priorityClaimsDateKwicHits":null,"pfApplicationSerialNumber":null,"pfApplicationDescriptor":null,"pfLanguage":null,"pfApplicationDate":null,"pfApplicationDateKwicHits":null,"clippedUri":null,"source":null,"documentId":"US
        12566963 B1","derwentAccessionNumber":null,"documentSize":139880,"score":7.1860647,"governmentInterest":null,"kindCode":["B1"],"urpn":["11315016","2007/0130618","2007/0277224","2010/0043062","2014/0130148","2020/0356653"],"urpnCode":["11315016","2007/0130618","2007/0277224","2010/0043062","2014/0130148","2020/0356653"],"descriptionStart":13,"descriptionEnd":25,"publicationReferenceDocumentNumberOne":"12566963"},{"guid":"US-12566979-B1","publicationReferenceDocumentNumber":"12566979","compositeId":"1000005304834!US-US-12566979","publicationReferenceDocumentNumber1":"12566979","datePublishedKwicHits":null,"datePublished":"2026-03-03T00:00:00Z","inventionTitle":"Hierarchical
        artificial intelligence system","type":"USPAT","mainClassificationCode":"1/1","applicantName":["United
        Services Automobile Association (USAA)"],"assigneeName":["United Services
        Automobile Associatio[...]
