interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?query=Google&filter=PatentAssigneeName&rows=200
  response:
    body:
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <response>
          <result name="response" numFound="3" start="0">
            <doc>
              <str name="reelNo">030456</str>
              <str name="frameNo">0789</str>
              <str name="conveyanceText">ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).</str>
              <date name="recordedDate">2013-05-20T00:00:00Z</date>
              <date name="patAssignorEarliestExDate">2013-05-15T00:00:00Z</date>
              <arr name="patAssignorName"><str>DOE, JANE B.</str></arr>
              <arr name="patAssignorAddress1"><str>789 INNOVATION WAY</str></arr>
              <arr name="patAssignorCity"><str>PALO ALTO</str></arr>
              <arr name="patAssignorState"><str>CALIFORNIA</str></arr>
              <arr name="patAssignorCountryName"><str>UNITED STATES</str></arr>
              <arr name="patAssignorPostcode"><str>94301</str></arr>
              <arr name="patAssigneeName"><str>GOOGLE LLC</str></arr>
      [...]
