interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://assignment-api.uspto.gov/patent/lookup?query=7654321&filter=PatentNumber&rows=200
  response:
    body:
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <response>
          <result name="response" numFound="2" start="0">
            <doc>
              <str name="reelNo">019876</str>
              <str name="frameNo">0543</str>
              <str name="conveyanceText">ASSIGNMENT OF ASSIGNORS INTEREST (SEE DOCUMENT FOR DETAILS).</str>
              <date name="recordedDate">2007-09-14T00:00:00Z</date>
              <date name="patAssignorEarliestExDate">2007-09-10T00:00:00Z</date>
              <arr name="patAssignorName"><str>SMITH, JOHN A.</str></arr>
              <arr name="patAssignorAddress1"><str>123 MAIN ST</str></arr>
              <arr name="patAssignorCity"><str>SAN JOSE</str></arr>
              <arr name="patAssignorState"><str>CALIFORNIA</str></arr>
              <arr name="patAssignorCountryName"><str>UNITED STATES</str></arr>
              <arr name="patAssignorPostcode"><str>95112</str></arr>
              <arr name="patAssigneeName"><str>ACME CORPORATION</str></arr>
      [...]
